[2018-11-16 12:14] mgurley opened #1 "Create a relational-friendly representation of Hemonc.org ontology."
-  Include a stable identifier/CUI for each concept (Class or Individual) in the ontology and timestamped begin/end dates for each concept and concept relationship (Property Assertion) in the ontology.

[2018-11-16 12:33] mgurley opened #2 "Provide to Hemonc.org examples of timestamped begin/end date concepts and concept relationship assertions."
- **Example 1:**  Name change examples stable identifier stays stable (ICD10CM).
  - Reason: Giving more explicit definition of a disorder.  In this case we just keep the last version of the name.
  - Revise from: Panic disorder without agoraphobia
  - Revise to: Panic disorder [episodic paroxysmal anxiety]
  - Reason: Typo
  - Revise from: Trichiasis without entropian
  - Revise to: Trichiasis wi

[2018-11-16 12:36] mgurley opened #3 "Provide NAACCR treatment variables to Hemonc.org to map within their ontology."
Now that Hemon.org is in the OMOP vocabulary tables we can do this in the OMOP tables on our side.

[2018-11-29 11:18] mgurley opened #4 "Decide on where to house condition/episode modifiers."
A modified measurement table or a new modifier table or something else.

* MEASUREMENT with polymorphic key
  * Pros
    * Not a new redundant structure.
    * Some modifiers can be recorded independent of a diagnosis.
  * Cons
     * Nullable foreign key.
* MODIFIER table
  * Pros
    * Constrained by a domain to distinguish which measurements are modifiers.
    * No nullable foreign key.
  * Con

[2018-11-29 11:26] mgurley opened #5 "Decide on the layout of the table(s) linking an Episode to low-level clinical events."
Options:

* FACT_RELATIONSHP as is today.
* EPISODE_EVENT with polymorphic foreign key
* EPISODE_EVENT with multiple foreign keys
* Multiple EPISDE_EVENT tables for each clinical event table.

[2018-11-29 11:34] mgurley commented on #5
Consensus points to EPISODE_EVENT with polymorphic foreign key,

See here http://forums.ohdsi.org/t/oncology-episode-of-care-proposal/5440

[2018-11-29 11:44] #2 closed

[2018-11-29 11:45] mgurley opened #6 "Ingest NAACCR into the OMOP vocabulary tables."
- Call the SEER API to ingest into the OHDSI vocabulary tables NAACCR data item/data item categorical values.
  - Get an account and API key from here: https://api.seer.cancer.gov/new_account
  - Return all NAACCR item numbers/item names for the latest NAACCR version from this REST resource: https://api.seer.cancer.gov/rest/naaccr/latest.   This will return an array of hashes for reach NAACCR data

[2018-11-29 12:17] mgurley commented on #6
See first swipe by @dimshitc here:
https://docs.google.com/spreadsheets/d/1t4MlNxRmCTuEeFockb58boiqNf4xSgwKe2TuybQ5plQ/edit#gid=1970199715

[2018-11-29 12:18] mgurley commented on #6
Rimma's instructions:
- Parse   into computable format.
- Describe treatment variables.
- Pick candidate sites: breast, brain, prostate
- Pick attributes based on use cases.
- Only import attributes/values that make cut.

[2018-11-29 12:20] mgurley opened #7 "Ingest the Nebraska lexicon into the vocabulary tables."
- Parse input. Create attribute-value relationship.
- Link to sites: breast, colon
- Replace LOINC attribute codes with SNOMED when available

[2018-11-29 12:34] mgurley opened #8 "Decide how to encode the relationship within the OHDSI vocabulary tables the list of possbile condition modifiers for a given anatomic site(s)."
This will be necessary for both the Nebraska Lexicon and NAACCR.  ETL developers will need to know if I have a diagnosis/condition in anatomic site X, then give me the list of possible modifiers.
See #6 and #7.

[2018-11-29 13:12] mgurley opened #9 "Map NAACCR modifiers to a standardized vocabularies. Maybe Nebrasaka Lexicon."
The idea is that in the end NAACCR will be a 'source' vocabulary and that Nebraska Lexicon will be the 'standard' vocabulary for condition/disease episodes.  This will task will be a placeholder for mapping all anatomic sites in NAACCR to all anatomic sites in the Nebraska Lexicon.  Each anatomic site or groups of anatomic sites will have separate tasks.

[2018-11-29 13:15] mgurley opened #10 "Map Breast NAACCR to Breast Nebraska Lexicon."

[2018-11-29 13:22] mgurley opened #11 "Add 'Registry' type concept to all domains."
concept_id |concept_name | domain_id | vocabulary_id | concept_class_id | standard_concept | concept_code |valid_start_date | valid_end_date | invalid_reason
------------ | -------------| -------------| -------------| -------------| -------------| -------------| -------------| -------------| -------------
next concept id|Tumor Registry|Type Concept|Meas Type|Meas Type|S|OMOP generated|1970-01-01|

[2018-11-30 01:29] mgurley opened #12 "Add concepts, domains and concept classes for EPISODE table."
**DOMAIN**

domain_id | domain_name | domain_concept_id
------------ | -------------|-------------|
Episode | Episode | ?

**VOCABULARY**

vocabulary_id | vocabulary_name |vocabulary_reference|vocabulary_version|vocabulary_concept_id
------------ | -------------|-------------|-------------|-------------
Episode | OMOP Episode |OMOP generated||?

**CONCEPT_CLASS**

concept_class_id| concept_class_n

[2018-11-30 02:52] mgurley opened #13 "Decide on whether to create a new Treatment domain, reuse the Procedure and Dug domains, or create a new Procedure/Treatment domain."
Recommend creating a new 'Procedure/Treatment' domain.  There exist currently concepts in the 'Procedure Domain' that are more akin to the concept of a Treatment than a Procedure.  These concepts most properly belong to a Treatment domain but we don't want to force users to create Treatment Episodes that just want to stick with Procedures.

Ingest concepts into the 'Procedure/Treatment' domain bas

[2018-11-30 03:00] mgurley commented on #13
Recommend creating a new 'Procedure/Treatment' domain.  There exist currently concepts in the 'Procedure Domain' that are more akin to the concept of a Treatment than a Procedure.  These concepts most properly belong to a Treatment domain but we don't want to force users to create Treatment Episodes that just want to stick with Procedures.

[2018-11-30 10:56] mgurley opened #14 "Add formal ontology properties to OROT."
We are planning on ingesting the Observational Research in Oncology Toolbox(OROT) into the OMOP vocabulary tables to provide a bridge between the low-level codes used in observational sources (EHRs/claims databases) to higher-level Procedure/Treatment concepts to be placed in the episode_object_concept_id column in the EPISODE table for 'Treatment Regimen '/'Treatment Cycle' episodes.  See here: h

[2018-11-30 11:29] mgurley opened #15 "Provide candidate mappings of NAACCR treatment variables/codes to OROT 'SEER*Rx Category' entries."

[2018-11-30 11:30] mgurley opened #16 "Suggest anchor code to be used in the OROT radiation therapy vocabulary."
- CPT
- ICD10-PCS
- SNOMED

[2018-11-30 11:31] mgurley commented on #16
- ICD10-PCS, CPT,  SNOMED?

[2018-11-30 11:32] mgurley opened #17 "Suggest anchor code to be used in the OROT surgical vocabulary."
- CPT
- ICD10-PCS
- SNOMED

[2018-11-30 12:31] dimshitc commented on #8
to use FACT_RELATIONSHIP?

[2018-11-30 12:40] dimshitc commented on #8
NAACCR.
Map their sites to SNOMED, if not possible - create a new standard concept.
then build relationships. Example.

we have the procedure code "50" for Total proctectomy in "Rectosigmoid" Site.
we create a new concept with
concept_code = 'Proc_50_Rectosigmoid'
concept_name= 'Total proctectomy'
vocabulary_id ='NAACCR'
and build the relationships:
 'Proc_50_Rectosigmoid' | Maps to | 235364003 (T

[2018-11-30 12:43] dimshitc commented on #9
Should we map NAACCR and Nebraska Lexicon anatomic sites to SNOMED?
As we mapped ICDO Topography?

[2018-11-30 12:56] dimshitc commented on #11
Should we add the same 'Condition Type' as we can derive ICD-O condition from Tumor Registry
and 'Observation Type' concepts as some source concepts can be mapped to Observation as well?

[2018-11-30 13:04] mgurley commented on #7
@dimshitc  Yes, I am a little confused about how the distribution files relate to the protocol PDF.  If we can't use the distribution files as the basis for the ingestion and need to scrape the PDF, then we have a problem.  This was why I sent the email to Scott Campbell yesterday asking about the latest version.  I thought he mentioned at AMIA that LOINC was being removed from the Nebraska Lexico

[2018-11-30 13:54] dimshitc commented on #12
Concept_class_id for the "Episode of Care" should be just "Episode of Care", does it make more sense?

I agree with the other things here.

[2018-11-30 14:06] dimshitc commented on #13
Can it make some additional problems when people get the new domain?
I mean people have queries where domain_id ='Procedure', not domain_id like 'Procedure%'

[2018-11-30 14:14] dimshitc commented on #14
Have anybody seen whether these categories have their internal codes?

[2018-11-30 14:39] dimshitc commented on #7
not a problem actually for now, we already copy-pasted this information manually - it can be used in a first run.
but later we need to get some automated way of course

[2018-11-30 14:58] mgurley commented on #14
@dimshitc Yesterday OROT promised to provide these.

[2018-11-30 15:40] mgurley commented on #11
@dimshitc Yes to 'Condition Type'.  That sounds like a good idea.

[2018-11-30 15:43] mgurley commented on #8
@dimshitc @cgreich We agreed to the approach suggested by Dima.  Just need to decide on the proper relationship(s) to use/create.

[2018-11-30 15:51] mgurley commented on #6
@dimshitc
I used this NAACCR website to filter the list of relevant NAACCR items down to a more manageable size based on the Section each item belongs to ('Cancer Identification', 'Stage/Prognostic Factors', 'Treatment-1st Course', 'Treatment-Subsequent & Other')

http://applications.naaccr.org/querybuilder/default.aspx?Version=18

Here is the filtered list:

[naaccr_questions_filtered.xlsx](https

[2018-11-30 16:29] #8 closed

[2018-11-30 18:57] #4 closed

[2018-11-30 18:58] #5 closed

[2018-12-01 15:32] cgreich commented on #13
Good point. We don't have Treatment in OMOP so far. Treatment = {Drug, Procedure, Device, even Observation}. But if we do it for Episodes only the effect may not be detrimental.

[2018-12-02 14:16] mgurley commented on #9
@dimshitc Yes,I believe we should map NAACCR and  Nebraska Lexicon anatomic sites to SNOMED, like we did for ICDO topography.  All three mapping to a shared anatomic site vocabulary will allow us to move back and forth between them.

[2018-12-02 16:35] cgreich commented on #9
Wait a minute, guys. Why are we mapping Nebraska to SNOMED? It *is* SNOMED. Or does Scott not use existing SNOMED concepts?

[2018-12-02 17:32] mgurley commented on #9
@cgreich My hope is that you are right, but we need to talk to Scott to see how his reference files relate to his PDF and whether his attribute/value pairs (which are hopefully all in existing SNOMED or to be proposed new SNOMED concepts) relate to a parent anatomic sites.  We see in his distribution the CAP checklist for say, Invasive Breast, has all the attribute/value pairs encoded with the att

[2018-12-03 19:41] rimusia opened #18 "Rimma's Housekeeping Tasks"

[2018-12-03 19:54] rimusia commented on #18
Change link on the main CDM WG page
Write a mission statement
Create presentations/publications section and transfer from the old one
Upload the contact list
Add meeting information

[2018-12-03 20:51] cgreich commented on #18
Not the main CDM WG page, but the Oncology WG page. The way to link to the CDM page is through Issues on Githubs.

[2018-12-03 20:59] rimusia commented on #18
There is a link at the main CDM WG page to subgroups. Michael and I are changing the Onco WG page to the GitHub wiki.

[2018-12-04 12:01] dimshitc commented on #13
Yep, that's it. New concepts for the Treatment concepts, even if they have the same meaning as the procedure ones.
what's the format for the concept_code?
"OMOP123" or "OMOP_onco123"
the latest will help people easily identify what was done for the oncology projects, but the first is more consisitent with the OMOP new concept creation.
@cgreich , what do you think?

[2018-12-04 12:05] dimshitc commented on #9
Yes, content of PDF files is partially represented in Nebraska distribution files.
But anatomical sites belong to the regular SNOMED, so yes, we don't need to map them

[2018-12-04 14:23] dimshitc commented on #12
The new "Episode" vocabulary will have OMOP_required = 'Y'
It means, you don't see it in the list of the vocabularies here http://athena.ohdsi.org/vocabulary/list
but it's included by default in any vocabulary bundle.
Are you OK with that?

[2018-12-04 14:49] cgreich commented on #13
Nnnnnnno. Don't. Identifiers have to be meaningless. Just pick the next available OMOPXXX one.

[2018-12-04 15:12] dimshitc commented on #13
BTW,
Do we have any policy when do we use "OMOPXXX" or "OMOP generated"?

[2018-12-04 15:31] dimshitc commented on #12
added to the release. will be on Athena tonight

[2018-12-04 16:08] cgreich commented on #13
Wow. you are so right. we should remove the OMOP generated. For some reason that never occurred to me. Jira for Timur, please.

[2018-12-04 16:11] dimshitc commented on #13
Do you mean, everywhere? all those "Visit", "Condition Type", and other
vocabularies?

On Tue, Dec 4, 2018 at 6:08 PM Christian Reich <notifications@github.com>
wrote:

[2018-12-04 17:38] cgreich commented on #13
Yes.

[2018-12-05 13:18] mgurley opened #19 "Decide on convention whether linking between EPISODE and clinical events should happen at all levels always or not."

[2018-12-06 13:00] mgurley opened #20 "Decide on naming of polymorphic columns in EPISODE_EVENT table."
In the most current version of the  Oncology/Episode of Care Combined Proposal #23,  the polymorphic pair of columns that allow the EPISODE_EVENT table to reference any clinical event table are named 'event_id' and 'event_table_concept_id'.  This diverges from the current OMOP naming convention for polymorphic column pairs:

- NOTE.note_event_id, NOTE.note_event_field_concept_id
- COST.cost_event_

[2018-12-11 17:06] mgurley commented on #6
Here is @dimshitc first cut at putting NAACCR into a computable format:

https://docs.google.com/spreadsheets/d/1dEvy9xWhEfy-AnjhItMOe5MHbaUUrMZwSk2rZCzxO0k/edit?usp=sharing

[2018-12-14 14:16] dimshitc commented on #6
**Procedures**
general idea:
Map their sites to SNOMED, if not possible - create a new standard concept.
then build relationships.
For example:
we have the procedure code "50" for Total proctectomy in "Rectosigmoid" Site.
we create a new concept with
concept_code = 'Proc_50_Rectosigmoid' = 'Proc_'||code||'_'||schema
concept_name= 'Total proctectomy'
vocabulary_id ='NAACCR'
and build the relationsh

[2018-12-14 14:37] dimshitc commented on #6
**Histological grades:**
NAACCR #3843 Grade Clinical
NAACCR #3844 Grade Pathological
NAACCR #3845 Grade Post Therapy
share the same bunch of values within the site

1	G1: Well differentiated
2	G2: Moderately differentiated
3	G3: Poorly differentiated
4	G4: Undifferentiated
8	Not applicable
9	Grade cannot be assessed (GX); Unknown

with same unsignificant name variations:
1	WHO Grade I : Circumscri

[2018-12-14 15:14] mgurley commented on #6
@dimshitc @rimusia

Rimma and I are going to outline two possible ways to ingest NAACCR into the OMOP vocabulary tables.   I will document the options in this issue.  Then we will meet to discuss the options.

[2018-12-18 01:52] mgurley commented on #6
We should only ingest into the OMOP vocabulary tables NAACCR data items from the following NAACCR sections:
- 'Cancer Identification'
-  'Stage/Prognostic Factors'
- 'Treatment-1st Course'

This covers 442 NAACCR items.  This will help us focus on the good stuff in NAACCR and weed out the cruft.

Some NAACCR items are **site-independent** and some are **site-dependent**.

- **Site-independent** me

[2018-12-20 17:13] mgurley commented on #6
@dimshitc That is a typo.  Sorry. I will fix. The domain for most NAACCR attributes/questions should be 'Measurement' and for NAACCR values/answers should be 'Meas Value'  I will correct.  The vocabulary_id should be NAACCR.  Some treatment-related NAACCR attributes/questions values/answers will be in the new Treatment domain (I will worki on the Treatment NAACCR items/item answers this weekend).

[2019-01-08 14:05] mgurley opened #21 "Add Episode Type concepts."
**VOCABULARY**

vocabulary_id | vocabulary_name |vocabulary_reference|vocabulary_version|vocabulary_concept_id
------------ | -------------|-------------|-------------|-------------
Episode Tpe | OMOP Episode Type |OMOP generated||?

**CONCEPT_CLASS**

concept_class_id| concept_class_name | concept_class_concept_id
------------| ------------ | ------------
Episode Type|Episode Type|?

**CONCEPT**

[2019-01-09 10:50] cgreich commented on #21
What are "Clinical event connections"?

[2019-01-09 10:53] mgurley commented on #21
@cgreich Elinical event connections are entries in EPISODE_EVENT.  Definitely open to better verbiage.

[2019-01-10 16:54] cgreich commented on #21
Why do we have to declare they have linked events? Isn't it self-evident when you join the tables?

[2019-01-10 17:03] mgurley commented on #21
@cgreich Yes, you are correct.  Joining will tell you if the connections exist, but not how the connections were made: taken from the source system or algorithmically derived or not present at all because neither.  We have discussed being able to track the provenance of data being placed in the EPISODE/EPISODSE_EVENT tables and this is what these entries are trying to convey.

[2019-01-11 11:53] cgreich commented on #21
Yeah. That's overloading the Type concepts. Plus, it's not clear to me why you will gain. If you want to know if something has events just look into the table.

[2019-01-11 14:36] mgurley commented on #21
@cgreich It's not about presence or absence.  It's about provenance of presence.  We want to know if the abstraction/connection was present in the source system or algorithmically derived and the nature of the source system: EHR, Tumor Registry or Claims.  I will drop reference to connections.  If we want to track whether an entry in EPISODE_EVENT was present in the source system or algorithmicall

[2019-01-11 15:27] mgurley opened #22 "Create documentation to support the Oncology Extension Proposal."
This documentation will be the basis for a public facing website and content for tutorials.

-  Describe overall description and mission of the project.
-  Describe major entities and concepts.
-  Instructions for implementing the oncology extension.
-  Include use cases on public facing website.

[2019-01-11 15:27] mgurley opened #23 "Create DDL to support the Oncology Extension Proposal."

[2019-01-13 01:47] cgreich commented on #21
Got it. Makes sense.

Couple of editorial corrections:

EHR -> Episode defined in EHR
Algorithmically derived from EHR -> Episode algorithmically derived from EHR
Tumor registry -> Episode derived from registry
Claims -> Episode derived from claim
Algorithmically derived from Claims - Episode algorithmically derived from claim

[2019-01-14 13:58] mgurley commented on #21
@cgreich  Agreed.  Final version:

**VOCABULARY**

vocabulary_id | vocabulary_name |vocabulary_reference|vocabulary_version|vocabulary_concept_id
------------ | -------------|-------------|-------------|-------------
Episode Type | OMOP Episode Type |OMOP generated||?

**CONCEPT_CLASS**

concept_class_id| concept_class_name | concept_class_concept_id
------------| ------------ | ------------
Episo

[2019-01-17 02:00] #18 closed

[2019-01-17 12:58] mgurley commented on #13
First swipe at population the standard concepts fro the Treatment domain:
**CONCEPT**

concept_id| concept_name | domain_id |vocabulary_id|concept_class_id|standard_concept|concept_code|valid_start_date|valid_end_date|invalid_reason
------------ | -------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-----------
4273629| Chemotherapy|**Proc

[2019-01-17 15:21] mgurley commented on #20
Decided on the following:
EPISODE_EVENT.event_id, EPISODE_EVENT.episode_event_field_concept_id

[2019-01-17 15:25] #20 closed

[2019-01-17 16:57] dimshitc commented on #13
@mgurley , what is the logic behind this list?
where did you get this list from? NAACCR?

[2019-01-17 17:05] dimshitc commented on #21
So, @cgreich ,
is this a final version?

[2019-01-17 17:08] dimshitc commented on #23
Did we decide who's doing this?

[2019-01-17 21:44] mgurley commented on #23
@dimshitc @rimusia @AEW0330
Yes, we decided that Rimma would first work on PostgreSQL and then hand off the results to Andrew/Robert to do Microsoft SQL Server.  Task has been assigned to both.

[2019-01-17 21:51] mgurley opened #24 "Update 'ETL Instructions for Mapping ICDO to SNOMED' to incldue NAACCR/Episode."
We need to update the
[ETL Instructions for Mapping ICDO to SNOMED'](https://github.com/OHDSI/OncologyWG/wiki/ETL-Instructions-for-Mapping-ICDO-to-SNOMED/)
to include NAACCR as a source and target the Episode table.

[2019-01-19 02:20] cgreich commented on #21
Probably: "Episode defined in EHR" -> "Episode derived in EHR", since they are all derived.

[2019-01-19 02:51] cgreich commented on #13
Hm. Should we leave them in Procedure/Drug/Device and create a classification on top? Why do we need a new domain? How is this domain different than the others? I am thinking.

[2019-01-21 20:53] mgurley commented on #13
@dimshitc @cgreich @rimusia

I have pushed a Ruby script that I used to prepare NAACCR treatment variables for ingestion into the OMOP vocabulary tables.  See here:

https://github.com/OHDSI/OncologyWG/tree/master/ohdsi-naaccr-ingestor

The script is a combination of automation and curation.  The most relevant outputs are here:

[treatments.csv](https://github.com/OHDSI/OncologyWG/blob/master/ohds

[2019-01-23 14:45] dimshitc commented on #21
No, it looks like different things:

"Episode **defined** in EHR" - when it's mentioned exactly in EHR
Episode algorithmically **derived** from EHR - when we derived it.

Well, using this logic, we might change 'Episode **derived** from claim' to 'Episode **defined** in claim', and 'Episode derived from registry' to 'Episode **defined** in registry' as well.

Thoughts?

[2019-01-29 18:20] rimusia opened #25 "Proposal for Ingestion of NAACCR into OMOP Vocabulary - Diagnostic Modifiers"
[NAACCR Ingestion into OMOP Vocabulary - Diagnostic Modifiers.docx](https://github.com/OHDSI/OncologyWG/blob/master/documentation/NAACCR.Ingestion.into.OMOP.Vocabulary.-.Diagnostic.Modifiers.docx)

[2019-01-29 18:37] rimusia commented on #23
[PostgreSQL Oncology Module DDL.txt](https://github.com/OHDSI/OncologyWG/files/2809124/PostgreSQL.Oncology.Module.DDL.txt)

[2019-01-29 21:42] rtmill commented on #23
[SqlServerOncologyModuleDDL.txt](https://github.com/OHDSI/OncologyWG/files/2809816/SqlServerOncologyModuleDDL.txt)

Notable differences from PostgreSQL version (above)
- Changed all [int] fields to [bigint] per [CDMv6](https://github.com/OHDSI/CommonDataModel/pull/217)
- Created primary key for episode table
- Removed duplicate constraint statement (fk episode.person_id -> person.person_id appears

[2019-01-29 22:22] rimusia commented on #23
Robert,

Thank you for fixing the pk and duplicate fk. I must have duplicated the fk entry in place of pk.

As for the change of IDs to BIGINT, I believe that the change applies only to the patient data tables (e.g. Person, Condition_Occurrence, etc.) but not to the vocabulary tables:

https://github.com/OHDSI/CommonDataModel/blob/master/PostgreSQL/OMOP%20CDM%20postgresql%20ddl.txt
and
https://git

[2019-02-19 14:32] #12 closed

[2019-02-19 14:38] dimshitc commented on #21
Nobody answers, so I can make a decision here:
I like the version in the last table (with "defined in EHR" but derived from other places)

[2019-02-19 14:57] dimshitc commented on #13
@cgreich
Hm. Should we leave them in Procedure/Drug/Device and create a classification on top? Why do we need a new domain? How is this domain different than the others? I am thinking.
Any thoughts to share?

[2019-02-19 15:54] mgurley commented on #21
Yes, treatment abstractions can actually be 'defined' in the EHR and not derived .  I have two use cases of this at NU.  Never seen it done elsewhere.  I agree with you (and myself).

[2019-02-23 16:44] mgurley commented on #15
Here are the candidate mappings of NAACCR treatment variables/codes to OROT 'SEER*Rx Category' entries

[naaccr_orot.xlsx](https://github.com/OHDSI/OncologyWG/files/2896999/naaccr_orot.xlsx)

[2019-02-24 14:35] mgurley commented on #9
@dimshitc
No I have not met with Nebraska team beyond the last group meeting we had back in December. Before we can map NAACCR modifiers to Nebraska Lexicon modifiers, we need to get NAACCR and Nebraska into OMOP.  So need to complete #6 and #7.

  Right now Nebraska only covers 2 CAP Cancer checklists, Breast and Colon.  So I suggest we first get NAACCR into OMOP, then get Nebraska Breast and Col

[2019-02-24 15:33] mgurley commented on #13
@cgreich @dimshitc  @rimusia
I think we need 'Treatment' domain because we want to restrict the possible values that can land in EPISODE.episode_object_concept_id when EPISODE.episode_concept_id = 'Treatment Regimen'.  Otherwise, the OMOP vocabulary will not be able to provide any guidance on what make sense.

For example, if we want to present a  dropdown list in a UI for searching by 'Treatment'

[2019-02-24 17:00] cgreich commented on #13
@mgurley:

Totally understand the reasoning. The question is can we create a reasonably comprehensive list of Episodes that are not just high-level procedures/drugs/devices?

[2019-02-24 18:27] mgurley commented on #13
@cgreich
I think **we** can because **we** won't need to come up with the comprehensive list.  We can reuse prior work like NAACCR treatment concepts and Hemonc.org's ontology of oncology drug regimens.  The exact mission of both these efforts is to create such concepts.

[2019-02-24 18:48] cgreich commented on #13
Agree. Except it is a big burden. In the long run. We will need to figure out how we can make it a permanent effort and keep it fresh. It's hard as it is the first time.

[2019-02-24 19:02] cgreich commented on #9
@mgurley:

Have we made any progress on the pathologist front? Would our OMOPed NAACCR help in that process by cleaning up the duplications and ambiguities?

[2019-02-24 19:09] mgurley commented on #13
I think we have gotten to a point of, "Keep on measuring.  Never cut." We need to try something., iterate and improve.

[2019-02-24 19:22] cgreich commented on #13
Agreed.

[2019-02-25 13:28] mgurley commented on #9
@cgreich

No progress from my side.  We can ask @rimusia   It will require some extensive project management.  I think we should begin the regular workgroup meetings.  To enlist troops.

I believe our OMOPed NAACCR would help in the process of cleaning up duplication and ambiguities.   NAACCR covers all (if sloppily) anatomic sites and is discrete and available within many institutions.  The CAP C

[2019-03-04 14:48] mgurley opened #26 "Curate NAACCR Items/Item Codes and OMOP domains."
Dmytry's ingestion script needs to be frontloaded with a curated list of NAACCR items/NAACCR item codes.  The curated list should be maintained in the OncologyWG repository.  The curated NAACCR list should identify the following:
   -  NAACCR items/NAACCR item codes to be ingested.
   -  Numeic NAACCR items.
   - Date NAACCR items .
   -  The OMOP vocabulary domain of each NAACCR item/NAACCR item

[2019-03-04 14:50] mgurley opened #27 "How should we handle long CONCEPT.concept_code entries that exceed 50 characters coming from NAACCR?"

[2019-03-04 14:51] mgurley opened #28 "How should we handle long CONCEPT.concept_name entries that exceed 255 characters coming from NAACCR?"

[2019-03-04 14:52] mgurley opened #29 "How should we handle 'Numeric' NAACCR items that define numeric ranges?"
For example NAACCR #752 'Tumor Size Clinical', has the following list of NAACCR item codes

      000 	  No mass/tumor found
      001 	  1 mm or described as less than 1 mm
      002-988 Exact size in millimeters (2 mm to 988 mm)
      989     989 millimeters or larger
      990     Microscopic focus or foci only and no size of focus is given
      999     Unknown
              Size not stated

[2019-03-04 14:53] mgurley opened #30 "How should we handle the different flavors of ‘Unknown’ within NAACCR: ingest or not ingest?"
- If ingesting, they should be mapped to 0.
- If not ingesting, should we add them to the vocabulary so that they are recognized?

[2019-03-04 14:56] mgurley opened #31 "How should we handle versions of staging variables? For both TNM and AJCC variables?"
Currently the SEER API only provides possible values for Union for International Cancer Control (UICC) TNM 7th edition classification?  TNM categories, stage groups, and definitions are based on the Union for International Cancer Control (UICC) TNM 7th edition classification. UICC 7th edition and AJCC 7th edition TNM categories and stage groups are very similar; however, there are some differences

[2019-03-04 14:57] mgurley opened #32 "How should we handle NAACCR provenance concepts?"
There are two types of provenance concepts: one describing diagnostic source (e.g. pathologist, clinician) and another describing record source (e.g. pathology report, EHR). Which one should we use? Or should we simply import these as separate Measurement entries?

[2019-03-04 15:01] mgurley opened #33 "Should we record dates as a separate measurement record.(e.g. Date regional lymph node dissection NAACCR #682)?"

[2019-03-04 15:13] mgurley opened #34 "How do we handle different versions of NAACCR?"
We need to calculate the delta between different versions of NAACCR.  The SEER API should be able to be used at least on the NAACCR item level and non-schema specific NAACCR item code level to give us the ability to compare different versions of NAACCR.  If NAACCR item numbers and NAACCR item codes are stable over time then the representation of NAACCR version within OMOP will be unnecessary.

[2019-03-04 17:15] mgurley commented on #26
I made a request to the SEER API folks about getting NAACCR sections into the SEER API of NAACCR items.  They agreed to do it and will be making the change.  See here:

https://github.com/imsweb/seerapi-client-java/issues/18#event-2178428401

This will allow the curation to concentration solely on the sections 'Treatment-1st Course', 'Cancer Identification' and  'Stage/Prognostic Factors'  and let

[2019-03-04 19:48] rtmill commented on #29
Using the above example, two different approaches come to mind:

**Option 1**) Specify via relationship_id in concept_relationship:

[CONCEPT]

concept_id | concept_code | concept_name | concept_class_id
-- | -- | -- | --
1 | x-752 | Tumor Size Clinical | NAACCR item
2 | x-752-001 | 1mm or described as   less than 1mm | NAACCR answer
3 | x-752-002-988 | Exact size in   millimeters (2mm to 988mm) |

[2019-03-04 20:50] rtmill commented on #34
A good place to start: http://datadictionary.naaccr.org/?c=16

At a glance, it looks like the revisions typically add to or remove from the sets of codes rather than change the meaning of them.

[2019-03-05 04:40] cgreich commented on #33
Why would we do that? We already have a time stamp.

[2019-03-05 04:42] cgreich commented on #32
Record source should be incorporated into Type Concepts. Diagnostic source should be in provider_concept_id.

[2019-03-05 04:49] cgreich commented on #34
And what happens if they remove?

[2019-03-05 04:50] cgreich commented on #31
Sounds like a gigantic overkill if you think what the true use cases are going to be. Should we start simple and do only UICC? What are the differences? Do you have examples?

[2019-03-05 04:51] cgreich commented on #30
We could. And we don't have to map to 0. We just don't map, which means, the ETL will put in 0.

[2019-03-05 04:57] cgreich commented on #29
I think Rimma's solution is the right one. And we need to map to one single concept_id='Tumor size'

000 	  No mass/tumor found
  001 	  1 mm or described as less than 1 mm - operator='<' , value=1, unit_concept_id=mm
  002-988 Exact size in millimeters (2 mm to 988 mm) - operator=null , value=size, unit_concept_id=mm
  989     989 millimeters or larger - operator='>' , value=989, unit_concept_id=

[2019-03-05 04:57] cgreich commented on #28
Can you show us?

[2019-03-05 04:58] cgreich commented on #27
Can you show us?

[2019-03-05 10:52] mgurley commented on #27
@cgreich Our tentative hope is that this will not be an issue, but we need the ingestion script to be completed to measure the longest length.  Dmitry's first cut indicated it will not be a problem.

[2019-03-05 11:50] mgurley commented on #28
@cgreich Here is an example of the problem from  Dmitry's first cut:

NAACCR Schema|NAACCR Item |NAACCR Item #| NAACCR Item Code|
------------ |------------ | -------------| -------------|
colon_rectum|EOD Primary Tumor| 772  | 600                 |

The NAACCR Item description for this is NAACCR Item for this NAACCR Schema is the following:

[code]

So that would give us a concept_name with a len

[2019-03-05 11:55] mgurley commented on #29
@dimshitc With @cgreich  agreement with @rimusia proposal's recommendation, we will go with it. Maybe we can incporporate @rtmill metadata suggestions for future version.

[2019-03-05 11:57] mgurley commented on #30
@dimshitc No ingesting of any flavor of 'Unknown'.

[2019-03-05 11:59] cgreich commented on #30
Wait. We would ingest, but not map to anything, and not make it standard. Right?

[2019-03-05 12:14] cgreich commented on #31
BTW: It says in https://seer.cancer.gov/archive/manuals/2016/SPCSM_2016_SectionV.pdf:

"The rules of classification and staging in the UICC 7th edition correspond with those appearing in the seventh edition of the AJCC Cancer Staging Manual (2009) and have approval of all national TNM committees. (UICC, 7th edition, pg. 4)"

[2019-03-05 14:23] rtmill commented on #29
@mgurley

I must have misunderstood what you meant by 'handle' in the issue description. There seem to be two separate numeric range issues here: 1) how we map from source (naaccr) concepts to standard concepts - what @cgreich refers to and @rimusia 's proposal solves. 2) From an ETL perspective, how can we consistently map from naaccr numeric values to source (naaccr) concepts - what I was referr

[2019-03-05 15:51] mgurley commented on #29
@rtmill  Our assumption is that 'x-752-002-988 would not exist in the Concept table either.  The only problem I see with Rimma's suggestions is that don't want to put 990 or 999 in the MEASURMENT.value_as_number field because those do not represent Tumor Size Clinical' but a flavor of unknown. So I am reopening this issue.

[2019-03-05 16:05] mgurley commented on #29
@rtmill
Or maybe 'x-752-990' and 'x-752-999' could exist but be non-standard and mapped to concept_id=0

[2019-03-05 18:17] rtmill commented on #29
I'm having trouble picturing this in an ETL. In this scenario, with the NULL flavors excluded as you propose above, would the remainder of the records map to the root item concept code? (i.e. x-752). If we aren't mapping to the root item code, how would we join on the concept code for discrete values?  If we are mapping to the root item code, how can we qualify the operator for the records that ar

[2019-03-05 18:39] mgurley commented on #29
@rtmill Look at @rimusia  proposal in the 'Appendix'.  Her SQL should work for the 'Age at Diagnosis' "Numeric" NAACCR #230 field. .  Except for the case of  999 Unknown age, it should work.   Let us know if it does not.  But we don't want to accidentally let in 999, so we will need to address it.

[2019-03-05 18:42] rimusia commented on #29
1.
1. Handling "unknown" flavors
I suggested to map all the "unknown" versions to concept_id = 0. We must include all the predefined permissible values for each variable we include. Otherwise, we will conflate a permissible value with a numeric value (see #2 below).
I will add this to the proposal along with a generic SQL code that will map ALL NAACCR concepts to standard.
2. Handling of numeric a

[2019-03-05 19:28] rtmill commented on #29
@mgurley @rimusia  thanks for the clarification, it's making a lot more sense. As I understand it:
[code]

Last two outstanding questions:
1 )

Are we planning to specify/flag items for this or are we going to assume that all variables fall into this category and ETL them similarly?

2 )
For values that contain operators e.g.

...how are we associating the operator_concept_id and unit_concept_id?

[2019-03-05 20:03] rtmill commented on #34
@cgreich
A couple examples:

Item #1760 Vital Status
v16:
[code]
v18:
[code]

Item #776 EOD Mets
v16
[code]

v18:
[code]

[2019-03-05 21:46] rimusia commented on #29
@rtmill
1) I don't think we should  flag these items
2) I have a proposal for representing those concepts that may have numeric/range values and also units. (LOINC includes concepts that have numeric values and units). The idea is to add attributes like "has value" or "has units" to a concept. I am already doing it at MSK. In OMOP, it can be accomplished via relationships. However, we don't have (

[2019-03-05 22:36] cgreich commented on #29
@dimshitc actually brought it up in a different circumstance. Yes, we should.

[2019-03-06 22:18] cgreich commented on #34
Urgh. I am getting more and more wary about this NAACCR vocabulary. This is ugly as sin. "Dead (SEER)"? Really? DCO?

However, in this case we can make it work. The Seer death will be remapped to the generic death, and the missing 70 Mets present will just go away. Which is funny. Looks like in V18 you cannot have metastases unless you died and there is a death certificate. Good for the patients,

[2019-03-07 12:07] dimshitc commented on #30
Right, ETL should be able distinguish between the real number and the code for unknown.
Gleason's score = 5 means "5" goes to value_as_number
Gleason's score = 998 (No prostatectomy/autopsy performed) means the value_as_concept_id =0.
So we need to have the list of the source concepts indicating Unknown. Just non standard without mapping.

[2019-03-08 13:59] cgreich commented on #30
I think currently for flavor of null (have no value) is NULL, not 0.

[2019-03-13 12:10] mgurley commented on #26
At the 3/12/2019 Oncology Workgroup meeting we decided that @mgurley and @rimusia  would submit to @dimshitc a seed list of domain mappings but that going forward the mappings would be maintained by the vocabulary team as part of the NAACCR ingestion script.

[2019-03-13 12:30] mgurley commented on #28
At the 3/12/2019 Oncology Workgroup meeting @dimshitc said that for CONCEPT.concept_name entries that exceed the length will have an entry made in CONCEPT_SYNONYM.

[2019-03-13 12:30] #28 closed

[2019-03-13 12:43] mgurley commented on #29
At the 3/12/2019 Oncology Workgroup meeting we discussed various options.  @rimusia volunteered to draft a final recommendation.

[2019-03-13 12:45] mgurley commented on #32
At the 3/12/2019 Oncology Workgroup meeting we decided that they should be curated out of the first version of NAACCR ingestion.  They can be added later if someone has a use case.

[2019-03-13 12:45] #32 closed

[2019-03-13 13:13] mgurley commented on #31
At the 3/12/2019 Oncology Workgroup meeting we discussed various options.  @mgurley said that NAACCR informed him that the NAACCR #1060 TNM Edition Number controls which set of staging variables should be populated for a NAACCR case.  For example, NAACCR #880 TNM PATH T versus NAACCR  #1011 AJCC TNM PATH T.  So If TNM Edition Number = 'Eighth Edition (published 2016), recommended for use with case

[2019-03-13 13:22] mgurley commented on #33
At the 3/12/2019 Oncology Workgroup meeting, we decided that these date-only NAACCR items should be recorded in MEASURMENT with only a measurement date.  Not sure if need to annotate date-only NAAACR items similar to numeric NAACCR items.

[2019-03-13 13:22] #33 closed

[2019-03-13 13:27] mgurley commented on #34
At the 3/12/2019 Oncology Workgroup meeting, we decided that we will only ingest NAACCR version 18 and subsequent versions.  Each new NAACCR version will have a delta calculated and NAACCR Items and NAACCR Item codes will be deprecated going forward.

@AEW0330 rasidd that this could be a problem for groups that have NAACCR data in prior versions because of legacy systems not being migrated to the

[2019-03-13 13:27] #34 closed

[2019-04-02 14:45] dimshitc commented on #13
Here's the list of HemOnc Regimen_types that can have 'Treatment' domain.
Anticoagulation
Chemotherapy
Chemohormonotherapy
Chemoimmunotherapy
Chemoradiotherapy
Chemoradioimmunotherapy
Growth factor therapy
Hormonotherapy
Hormonoradiotherapy
Immunosuppressive therapy
Immunotherapy
Radiotherapy
Radioimmunotherapy
Supportive therapy
Other therapy.

While the NAACCR Procedure concepts will have Proced

[2019-04-17 11:42] mgurley opened #35 "Decide on the domain assignment of 'Hemonc.org' Regimen and Regimen Category concepts."
At the 4/16/2019  OHDSI Oncology Workgroup meeting we decided the following:

'Hemong.org' regimen concepts should be placed in the 'Drug' domain as standard concepts.  'Hemong.org' regimen category concepts should be placed in the 'Drug' domain as standard concepts.

[2019-04-17 11:54] mgurley commented on #13
At the 4/16/2019  OHDSI Oncology Workgroup meeting we discussed this issue:
When an entry in the new Episode tables contains a Treatment Episode concept what should be the OMOP domain of entities that populate the episode_object_concept_id field?  We agree that for a Disease Episode concept the OMOP domain of entities that populate the episode_object_concept_id should be from the 'Condition' domai

[2019-04-17 11:54] #13 closed

[2019-04-17 11:58] #35 closed

[2019-05-20 15:11] mgurley commented on #29
Submitted on behalf of @dimshitc

There's a bunch of results with pretty big number of possible numeric values:
0.1 - 99,999.9 U/L
0.1 - 99,999.9 ng/mL
0.1 - 99,999.9 mIU/mL
So, encoding only these 3 we end up with about 3*10^6 new concepts.
As we have about 6*10^6 valid concepts, this addition may affect overal performance.

So, I have a proposal how to avoid adding millions of new concepts.
Let'

[2019-05-27 22:00] mgurley opened #36 "Curate date NAACCR items into Metadata domain."

[2019-05-27 22:05] mgurley opened #37 "Curate NAACCR items in the 'None' domain into the 'Observation' and 'Meas Value' domains"

[2019-05-27 22:06] mgurley opened #38 "Curate the parent Date NAACCR item for NAACCR items."

[2019-05-27 22:07] mgurley opened #39 "Curate the parent NAACCR item for NAACCR items."

[2019-05-27 22:10] #26 closed

[2019-05-27 22:11] #39 closed

[2019-05-27 22:11] #38 closed

[2019-05-27 22:11] #37 closed

[2019-05-27 22:12] #36 closed

[2019-06-06 14:12] mgurley commented on #31
The beta test will prove if our approach is tenable.  For now closing.

[2019-06-06 14:12] #31 closed

[2019-06-06 14:32] mgurley opened #40 "Submit proposal to support numeric vocabulary concepts to CDM and Vocabulary Development Working Group."

[2019-06-06 14:33] mgurley commented on #29
@rimusia Can you please update the
[Documentation](https://github.com/OHDSI/OncologyWG/blob/master/documentation/NAACCR.Ingestion.into.OMOP.Vocabulary.-.Diagnostic.Modifiers%202019-05-09.docx)
with the final decision.  See #40 for issue to get the decision approved.

[2019-06-06 14:33] #29 closed

[2019-06-06 14:39] mgurley commented on #25
This is completed.  Needs to be vetted and beta tested.

[2019-06-06 14:39] #25 closed

[2019-06-06 14:43] mgurley commented on #23
This is done.  Any problems will be brought out in the beta testing.

[2019-06-06 14:43] #23 closed

[2019-06-06 14:48] mgurley commented on #1
This has largely been done by Hemonc.org.  Any problems will be brought out in the beta testing.

[2019-06-06 14:48] #1 closed

[2019-06-06 14:54] mgurley opened #41 "Ingest Hemonc.org into the OMOP vocabulary tables."

[2019-06-06 14:55] mgurley opened #42 "Review and provide feedback on ingestion of NAACCR into staging area."

[2019-06-06 14:56] mgurley opened #43 "Review and provide feedback on ingestion of hemonc.org into the OMOP vocabulary tables."
@dimshitc has already published the first version of the Hemonc.org regimen ontology within Athena.  See here for an example Hemonc.org regimen:
http://athena.ohdsi.org/search-terms/terms?conceptClass=Regimen&vocabulary=HemOnc&page=1&pageSize=15&query=R-CHOP

So no need to review the staging area.  We can review the real thing.

[2019-06-06 15:07] mgurley opened #44 "Modify DDL SQL to conform to polymoprhic file naming decision."
See decision made in #20.  The DDL SQL does not follow this decision.  Needs to be fixed.

[2019-06-06 15:10] mgurley opened #45 "Create DDL to support numeric vocabulary concepts."

[2019-06-06 15:11] mgurley opened #46 "Beta test ETLing oncology diagnosis, diagnosis modifiers and oncolgy drug treatments."

[2019-06-06 15:15] mgurley commented on #24
Duplicates #22

[2019-06-06 15:15] #24 closed

[2019-06-06 15:16] mgurley opened #47 "Update ETL documentation to reflect parent/child relationships."
Duplicates #22

[2019-06-06 16:01] mgurley opened #48 "Incoporate NAACCR curated items into NAACCR ingestion build and post back the curated version into the repository."
See [input](https://github.com/OHDSI/OncologyWG/blob/master/ohdsi-naaccr-ingestor/lib/data/naaccr_curated.xlsx)

[2019-06-06 16:17] mgurley commented on #11
Add this for all domains for the type_concept_id.

[2019-06-06 16:33] mgurley opened #49 "Fix SNOMED high-level treatment domain assignments."

[2019-06-10 18:35] mgurley opened #50 "Reach out to THEMIS to make sure documentation alligns with their efforts."

[2019-06-10 21:51] dimshitc commented on #41
As I did this first viable version, I think I can close this one

[2019-06-10 21:51] #41 closed

[2019-06-10 22:03] dimshitc commented on #49
Actually, not only SNOMED but other Standard procedure terminologies like HCPCS, ICD9Proc, etc.
all these
Hormonotherapy, Chemotherapy, Antibioticotherapy, all these, will become Drugs.
So, I need to define the whole list of the concepts that need domain change and post it on the forum to check if it makes any problems for users.

[2019-06-10 22:12] cgreich commented on #49
Сorrect

[2019-06-11 11:20] mgurley commented on #49
Makes sense.  I changed the the task title to not be SNOMED-specific.

[2019-06-20 11:34] mgurley opened #51 "Map duplicate NAACCR to other NAACCR items."
NAACCR has duplicate NAACCR items for staging.  For example:

NAACCR Item 1013 (AJCC TNM Path M) and NAACCR Item 880 (TNM Path T).

We have decided to map NAACCR items to NAACCR items when it is appropriate.

[2019-06-20 12:46] mgurley opened #52 "Figure out how to obtain AJCC/UICC 8 edition TNM values NAACCR staging variables."
See background discussion here:

http://forums.ohdsi.org/t/lung-cancer-stage-ia3/7175/4

Also see issue submitted to SEER for possible resolution:

https://github.com/imsweb/staging-client-java/issues/65

[2019-07-01 10:09] mgurley opened #53 "Update ETL documentation to reflect NAACCR to NAACCR mappings."
Based on work done in #51

[2019-07-01 13:31] dimshitc commented on #51
1. TNM stages
Somehow there are no values provided for target concepts in the API thing.
Can we just map them in reverse order?
I mean:
1011 AJCC TNM Path T  Maps to  880 TNM Path T etc?

2. Radiation
 'Phase 2 info or Phase 3 info' to 'Phase 1 corresponding info' is not a mapping in a way established in OHDSI.
If you want to get rid of these Phase 1, 2, 3, we need to create generic concepts like

[2019-07-01 14:28] mgurley commented on #51
1. We can, however, 1011 is the more recently released variable.  So that was why I chose it.  Same across the board for the other staging variables. But the larger issue is that we do need to get the target concepts for 1011 (and the rest) because they cover AJCC/UICC version 8, the latest version of AJCC/UICC.  My idea is to obtain them from here: https://www.facs.org/-/media/files/quality-progr

[2019-07-01 16:51] mgurley opened #54 "Scope NAACCR items and NAACCR item codes to NAACCR schemas."
We will try to do this in the first version.  But if it becomes too complex we will kick it to version 2.

[2019-07-03 10:35] mgurley commented on #21
@cgreich @dimshitc  Ok, really the final version:

**VOCABULARY**

vocabulary_id | vocabulary_name |vocabulary_reference|vocabulary_version|vocabulary_concept_id
------------ | -------------|-------------|-------------|-------------
Episode Type | OMOP Episode Type |OMOP generated||?

**CONCEPT_CLASS**

concept_class_id| concept_class_name | concept_class_concept_id
------------| ------------ | --

[2019-07-03 10:49] mgurley commented on #52
This looks like a promising place to get version 8 values:

https://www.facs.org/quality-programs/cancer/ncdb/registrymanuals/cocmanuals

At the meeting on 7/2/2019, it was decided to live with version 7 for the first version of ingestion NAACCR into the OMOP vocabulary tables.  Will revisit in next version.

[2019-07-09 19:32] cgreich commented on #21
You really are a true OMOP vocabularist, @mgurley! :)

Don't think there are Episodes defined in a claim, are there?

[2019-07-09 19:36] mgurley commented on #21
@cgreich
High compliments indeed!
Yes, I would doubt there ever would be episodes defined in a claims database.  I was being pedantic.  Fine by me to remove that one.

[2019-07-17 14:51] mgurley opened #55 "Add a 'Disease Progression' concept to the Episode domain."
concept_class_id = 'Disease Episode'

[2019-07-23 00:21] #44 closed

[2019-07-23 11:10] mgurley opened #56 "Missing 'Maps to' entries in CONCEPT_RELATIONSHIP for all NAACCR treatment variables."
In 'OMOP Standardized Vocabularies' version 'v5.0 09-JUL-19', there are no 'Maps to' entries in CONCEPT_RELATIONSHIP for any NAACCR treatment variables.  The  [curated](https://github.com/OHDSI/OncologyWG/blob/master/ohdsi-naaccr-ingestor/lib/data/naaccr_curated.xlsx) NAACCR spreadsheet instructed the following maps be made:

NAACCR Item #| NAACCR Item| Maps to
-- | -- | --
1290 | RX Summ--Surg Pr

[2019-07-23 16:09] dimshitc commented on #56
make values of these concepts standard as well except for flawors of NULL.

[2019-07-23 16:12] mgurley commented on #56
@dimshitc yes exaclty

[2019-07-26 10:57] mgurley opened #57 "Udate DDL documentaiton to reflect decision to link 'Disease First Occurrence' and subsequent 'Disease Episode' entries via EPISODE.episode_parent_id."
See meeting notes:

https://www.ohdsi.org/web/wiki/doku.php?id=documentation:oncology:meeting_notes_2019_jul-23

[2019-08-02 10:40] #56 closed

[2019-08-02 10:40] #55 closed

[2019-08-05 02:23] #45 closed

[2019-08-18 13:52] mgurley opened #59 "Create a mapping table to be used for handling ambiguous ICDO site/histology combinations present in multiple schemas."
Here is the format.

icdo_site_histology | naaccr_item | naaccr_item_code | sex | csfactor25 | naaccr_item_omop_concept_id | naaccr_item_code_omop_concept_id
-- | -- | -- | -- | -- | -- | --

[2019-08-21 00:52] mgurley opened #60 "Fix missing leading zeros in the concept_codes for Treatment NAACCR item codes."
There is a consistent problem of missing leading zeros in the concept_code column of NAACCR treatment variables:
1390, 1400, 1410,1506,1516,1526.

For example, the concept_code for OMOP concept_id = 35918602 is '1390@1'.  It should be instead '1390@01'.  This problem is consistent across the board for the NAACCR treatment variables.  See here documentation that the leading zeros are necessary:
htt

[2019-08-21 01:00] mgurley opened #61 "The concept_codes to Surgery NAACCR item codes use NAACCR schema concept_names instead of NAACCR schemaconcept_codes."
The concept_codes for Surgery NAACCR item codes use the NAACCR schema concept_name instead of the concept_code.  For example, concept_id 35916758 has a concept_code='Cervix Uteri@1290@53'.  To be consistent with how the oncology diagnosis modifier concepts are encoded, this should instead be: cervix@1290@53.

[2019-08-21 09:13] mgurley opened #62 "Add index on conept_id for CONCEPT_NUMERIC."
To help performance.

[2019-08-21 09:15] mgurley opened #63 "Make EPISODE.episode_end_datetime nullable."

[2019-08-21 09:16] #62 closed

[2019-08-21 09:16] #63 closed

[2019-08-21 10:12] dimshitc commented on #61
Somehow we ended up with own procedure schemas (different from those usual NAACCR schemas). And yes, it's another work that still needs to be done, to map Procedure schemas to usual NAACCR schemas.

[2019-08-21 10:41] mgurley commented on #61
@dimshitc Ah, so I need to use 'ICDO to Proc Schema' to instead of 'ICDO to Schema' for relationship_id.  I will try that.  NAACCR/SEER has different schemas for procedures versus diagnosis modifiers, so that explains the "somehow".  Can we get the NAACCR OMOP ingestion code in a public repository?

[2019-08-26 13:22] mgurley opened #64 "The 'NAACCR Proc Schema' entries do not have all the necessary relationships to ICDO codes via 'Proc Schema to ICDO'"
For example, the 'Prostate' 'NAACCR Proc Schema' seems to only have entries related to a small subset of the appropriate histologies.  Some SQL:

<pre>
select   c1.concept_name
       , c1.concept_class_id
       , c1.concept_code
       , c2.concept_name
       , c2.concept_class_id
       , c2.concept_code
       , c3.concept_name
       , c3.concept_class_id
       , c3.concept_code
       , c4

[2019-08-26 13:37] mgurley commented on #61
Ok, I have now tried using 'ICDO to Proc Schema'. The necessary relationships between 'NAACCR Proc Schema' and 'ICDO Condition' entries do not seem to be present.  Closing this issue.  Entering new one #64.

[2019-08-26 13:37] #61 closed

[2019-08-27 10:00] mgurley opened #65 "Make non-standard NAACCR treatment 'did not happen' concepts."
The following concepts are have a standard_concept = 'S'.  They should be non-standard.

concept_id | concept_name | concept_code| standard_concept
------------ | -------------|------------ | -------------
35918930|Chemotherapy was not recommended/administered because it was contraindicated due to patient risk factors (i.e., comorbid conditions, advanced age).|1390@82
35918934|Chemotherapy was not

[2019-08-27 10:18] mgurley opened #66 "Add 'Metatdata' 'Table' and 'Field' entries for EPISODE and EPISODE_EVENT and new columns in MEASUREMENT."

[2019-08-27 10:41] mgurley opened #67 "Create ICDO concept for 'Unknown Histology' and precoordinate with all ICDO sites."
We have to support the case where a ICDO site will be known but no histology is known.  For example, brain tumors found on imaging but having no pathology.
Without hardcoding, how will ETL developers know to map their NULL histology values to this 'Unknown Histolgoy' ICDO concept.

[2019-08-27 10:50] mgurley opened #68 "Move NAACCR Treatment 'did not happen' concepts into the Observation domain."
Make the 'standard' in the Observation domain.

concept_id | concept_name | concept_code| standard_concept
------------ | -------------|------------ | -------------
35918937|None, chemotherapy was not part of the planned first course of therapy.|1390@0
35918930|Chemotherapy was not recommended/administered because it was contraindicated due to patient risk factors (i.e., comorbid conditions, advan

[2019-08-27 11:31] mgurley opened #69 "Create new 'Regimen' domain, move all the Hemonc.org regimens into the new domain, create entries in the new domain for NAACCR high-level drug concepts and non-standardize existing drug NAACCR item codes."
Having Hemonc.org regimens and NAACCR high-level drug concepts within the Drug domain causes problems for concept hierarchy traversal.  To get around the problems, we want to create a new 'Regimen' domain, move all the Hemonc.org regimens into the new domain, and create entries in the new domain for NAACCR high-level drug concepts.  This new 'Regimen' domain will be used in the EPISODE.episode_obj

[2019-08-28 09:36] #65 closed, assigned to dimshitc

[2019-08-29 11:10] dimshitc commented on #66
Why is it on me? I'm not working with CDM, but a vocabulary.
Of course, I can commit, but still, there are roles, right?
Does @rimusia do CDM stuff?

[2019-08-29 11:24] rimusia commented on #66
It's not about tables, it's about concepts that represent those tables and
fields ;)

On Thu, Aug 29, 2019, 1:10 PM Dmytry Dymshyts <notifications@github.com>
wrote:

[2019-08-29 11:27] mgurley commented on #66
This task is about adding new entries to the OMOP vocabulary.  Stuff missing as identified by running this query:

<pre>
select *
from concept
where concept_class_id in (
  'Table'
, 'Field'
)
</pre>

[2019-08-29 12:21] dimshitc commented on #69
Should we keep

concept_id | concept_name | concept_code | standard_concept
-- | -- | -- | --
35915215 | Chemotherapy, NOS. | 1390@1 |  
35916302 | Chemotherapy, single agent. | 1390@2 |  
35918919 | Chemotherapy, multiple agents. | 1390@3 |  
35918922 | Hormone therapy administered as first course therapy. | 1400@1 |  
35918935 | Immunotherapy administered as first course therapy. | 1410@1

as Ep

[2019-08-29 12:45] mgurley commented on #69
@dimshitc
Those concepts are all currently in the 'Drug' domain but are standard.  I think the decision was that they should stay in the 'Drug' domain but become non-standard.  Each of these concepts does have an 'Answer of' entry in the CONCEPT_RELATIONSHIP table to a concept in the 'Episode' domain.  For example, 35916302 to 35918602.  35916302 should stay in the Episode domain.

concept_id | co

[2019-08-29 13:00] dimshitc commented on #66
Got it. It works the following way:
Once @clairblacketer commits the DDL for new CDM version out script automatically takes this and puts into vocabulary.
Can we leave without these fields untill oncology extension is ratified by the community?

[2019-08-29 13:10] rimusia commented on #66
No, Dima, we can't move forward without adding these fields as they are
part of the ETL SQL.

Please create temporary concepts if we can't expedite creating the
permanent ones at the moment.

Thank you,
Rimma

On Thu, Aug 29, 2019 at 9:00 AM Dmytry Dymshyts <notifications@github.com>
wrote:

--
Rimma Belenkaya

[2019-08-29 13:12] dimshitc commented on #66
Ok, what CDM version are you going to use in this ETL?

[2019-08-29 13:15] rimusia commented on #66
I added Clair.

All the Oncology new tables and extensions have been vetted and
incorporated into v6. They are not yet in the GitHub for v6 though. So, we
are nominally using v6.

On Thu, Aug 29, 2019 at 9:12 AM Dmytry Dymshyts <notifications@github.com>
wrote:

--
Rimma Belenkaya

[2019-08-29 13:18] dimshitc commented on #66
Ah, Ok. So not to make fuss here, let's wait until Oncology tables and extensions are added to github.
@clairblacketer do you know when it's going to be done?

[2019-08-29 13:23] rimusia commented on #66
Dima,

As I mentioned we can't wait for another day. If we are violating
conventions, let's create temporary concepts and replace them with proper
concepts once the Oncology module tables are in GitHub. These concepts are
prerequisite needed to perform the ETL into the Oncology module.

Thanks,
Rimma

On Thu, Aug 29, 2019 at 9:18 AM Dmytry Dymshyts <notifications@github.com>
wrote:

--
Rimma Belen

[2019-08-29 13:24] rimusia commented on #66
Neither I not Michael can complete the ETL scripts without having these
concept IDs.

Thanks.

On Thu, Aug 29, 2019 at 9:22 AM Rimma Belenkaya <rimma.belenkaya@gmail.com>
wrote:

--
Rimma Belenkaya

[2019-08-29 13:38] dimshitc commented on #66
Do you need only concepts for these or all relationships (between table and field and between field, table and CDM version)?

[2019-08-29 13:43] rimusia commented on #66
Only concepts.
Thank you.

On Thu, Aug 29, 2019 at 9:38 AM Dmytry Dymshyts <notifications@github.com>
wrote:

--
Rimma Belenkaya

[2019-08-29 14:11] dimshitc commented on #69
Ok. You're right

[2019-08-29 16:35] dimshitc commented on #66
https://github.com/OHDSI/OncologyWG/blob/master/ddl/PostgreSQL/CDM_patch.sql
here you go.
And these concepts are added to dev schema as well.

[2019-08-30 10:51] mgurley opened #70 "Disambiguate the Hemonc.org “OR” regimens into multiple regimens."

[2019-08-30 11:44] dimshitc commented on #69
Talking to @rimusia and @mgurley
Decided to make NAACCR concepts listed as Standard Regimen.

[2019-09-02 09:48] dimshitc commented on #60
also changing all these '<Proc_schema>@1290@0' to '<Proc_schema>@1290@00'

[2019-09-02 13:44] jeremywarner commented on #70
The following ambiguous regimens have been resolved:
*Those containing prednisone and prednisolone
*Those containing trastuzumab and Trastuzumab and hyaluronidase
*Those containing rituximab and Rituximab and hyaluronidase
*Those containing L-asparaginase and Erwinaze
*Those containing folinic acid and levoleucovorin

Still to-do but probably can wait until after the symposium
*Those containing mo

[2019-09-02 15:41] dimshitc commented on #64
Should we make direct connection between NAACCR procedure and ICDO condition?
So, it saves one concept_relationship join, and make it more user-friendly.

[2019-09-02 18:44] cgreich commented on #70
Actually, there are a whole lot of ambiguous cases, where the containing drugs are identical, but the regimen is different. 444 of them. The cases are due to:

**1. Different dosages**
35806136 | IL-2 monotherapy | Aldesleukin
35806131 | High-dose Interleukin-2 | Aldesleukin
35806132 | Low-dose Interleukin-2 | Aldesleukin

**2. Non-chemo components**
35803617 | BFR | bendamustine,fludarabine,ritux

[2019-09-02 22:16] mgurley commented on #11
This does not look like it has been applied to all domains beyond 'Episode' and 'Condition'.  I am needing it for 'Procedure'.

[2019-09-02 22:58] mgurley commented on #60
@dimshitc

My list forgot to include the following concept_code:  '1506@06', '1516@06'  and '1526@06' .  Can you make sure these have the leading zeros as well?

[2019-09-02 23:24] mgurley opened #71 "For NAACCR radiation therapy treatment variables, add a 'Variable has end date' relationship."
NAACCR radiation therapy treatment variables are unique in that they encode an 'end date' to the Episode.  Right now NAACCR item numbers 1506, 1516 and 1526 have each have two 'Variable has date' 'entries in the CONCEPT_RELATIONSHIP table to NAACCR item numbers 1210 (RX DATE RADIATION) and 3220 (RX DATE RAD ENDED).  But this makes it ambiguous which is the start and which the end.  So we need to c

[2019-09-03 01:30] jeremywarner commented on #70
Gee, is that all? 😊 – at least it isn’t every single regimen!

This is a different type of ambiguity and gets to the meat of it – taking care of the “OR” regimens was a necessary first step but doesn’t resolve this ambiguity. How to distinguish AC from ddAC? One can’t from just the drug names, but one can at least narrow down the possibilities. Specific responses, below.

Best,
Jeremy

Jeremy L. W

[2019-09-03 11:42] dimshitc commented on #64
and on the second thought (discussed with @cgreich and @mgurley as well)
decided to leave them as they are now to be consistent with the other NAACCR Variables / Values.

[2019-09-03 12:09] mgurley opened #72 "Insert NAACCR treatments into PROCEDURE_OCCURRENCE and DRUG_EXPOSURE as well as EPISODE."
This is for NAACCR Radiation Therapy, Surgery and Drug treatments.

[2019-09-03 12:15] mgurley commented on #69
And we decided to not insert NAACCR drug treatments into DRUG_EXPOSURE unless we can come up with vocabulary support that make sense.

[2019-09-03 12:16] mgurley opened #73 "Insert Treatment 'did not happen' concepts into the OBSERVATION table."
The vocabulary work for this task was completed in #68.

[2019-09-03 12:23] mgurley opened #74 "Populate EPISODE.episode_parent_id for 'Treatment Episode' entries in the EPISODE table."
For 'Treatment Regimen' entries in the EPISODE table,  populate the EPISODE.episode_parent_id with the EPISODE.episode_id field of the corresponding 'Disease Episode' entry in the EPISODE table.

[2019-09-03 15:31] jeremywarner opened #75 "HemOnc regimens that have discrepancy between "Has antineopl Rx" and "Has antineoplastic""
There are currently 148 HemOnc regimens that have a numeric discrepancy between "Has antineopl Rx" and "Has antineoplastic" relationships (e.g., 2 of one, 3 of the other).

The majority of these are because a regimen component is not a drug, the most common example being radiotherapy (RT).

Some of them are errors where a non-drug is being pulled into a drug-only regimen. These will need to be fix

[2019-09-03 15:47] jeremywarner commented on #75
Also some of these discrepancies stem from regimens that have a "component" of a class of things (e.g., ADT [androgen deprivation therapy])

[2019-09-03 15:48] jeremywarner commented on #75
ADT-1 = LHRH
ADT-2 = Castration + LHRH

[2019-09-03 16:07] jeremywarner commented on #75
This is the breakdown of the 148 regimens:
5 contain interferon and need disambiguation per issue #70
10 contain a class ADT or ET (endocrine therapy) and need another solution
15 have no apparent explanation and are probably errors that will be fixed by hand
118 have radiation therapy as a component

[2019-09-04 00:46] jeremywarner opened #76 "HemOnc regimens that are ambiguous"
(communication from Christian and response from Jeremy copied over here):
Actually, there are a whole lot of ambiguous cases, where the containing drugs are identical, but the regimen is different. 444 of them. The cases are due to:

Different dosages
35806136 | IL-2 monotherapy | Aldesleukin
35806131 | High-dose Interleukin-2 | Aldesleukin
35806132 | Low-dose Interleukin-2 | Aldesleukin

Non-chem

[2019-09-05 13:54] mgurley opened #77 "Filter out ambigous NAACCR schemas with ambigious site/histology combinations from the ETL logic."
See SQL here to identify ambiguous site/histology combinations:
https://github.com/OHDSI/OncologyWG/blob/master/documentation/debug_naaccr_ambiguites.sql

This will be able to be reverted when #59 is completed.

[2019-09-06 23:48] #77 closed

[2019-09-08 11:54] mgurley opened #78 "NAACCR Variable 1060 'TNM EDITION NUMBER' is missing NAACCR Values."
- NAACCR Variable 1060 is missing NAACCR Values.  Compare the following:
  - http://datadictionary.naaccr.org/default.aspx?c=10#1060
  - http://athena.ohdsi.org/search-terms/terms/35918875

[2019-09-08 12:11] mgurley opened #79 "NAACCR Variable 1117 'METS AT DX-OTHER' is missing NAACCR Values"
- NAACCR Variable 1117 'METS AT DX-OTHER' is missing NAACCR Values.  Compare the following:
  - http://datadictionary.naaccr.org/default.aspx?c=10#1117
  - http://athena.ohdsi.org/search-terms/terms/35918527

[2019-09-08 14:21] mgurley commented on #30
There seem to be quite a few flavors of unknown that are still standard concepts.  I think we should revisit the decision to make flavors of unknown to be non-standard.  Trying to determine all that should be made non-standard has enormous curation overhead.  Here is just a sampling on numeric concepts.  Many should indeed be standard concepts; but many others should not.

concept_id|concept_name|

[2019-09-08 15:39] mgurley opened #80 "Do not insert non-standard concepts into MEASUREMENT.value_as_concept_id for Numeric concepts."
Both  NAACCR ETL scripts insert non-standard concepts into  MEASUREMENT.value_as_concept_id.

[2019-09-08 15:53] cgreich commented on #30
Well, there are flavors of null, where the information is not available, like 35933329 "No surgical specimen from primary site" or 35934159 "Test not done (test not ordered and not performed)". We don't need them. They add no information. Every day of my life that particular "Test" was not ordered or performed, thank God. Then we have the results of the TNM assessment, like 5940004 "Regional lymph

[2019-09-08 17:07] mgurley commented on #30
Right, and  35933329 "No surgical specimen from primary site" and 35934159 "Test not done (test not ordered and not performed)" are currently standard concepts.  So based on our existing intentions, they should not be standard.   My point is that correcting these and the possibly many more could be a great curation burden.  I am fine with sticking to our plan but if so, we likely have a lot of cle

[2019-09-08 18:59] mgurley opened #81 "Some more NAACCR Variables missing NAACCR Values."
It is possible that this is cruft that we should curate away but right now they are standard concepts and because they have no values, they can't be ETLed:

concept_id|concept_name|concept_code
--|--|--
35918787|CS Version Input Original|2935
35918741|CS Version Derived|2936
35918293|CS Version Input Current|2937
35918766|Type of Reporting Source|500

[2019-09-08 21:16] mgurley opened #82 "Missing NAACCR Variable 790 'EOD--EXTENSION'"
- 790 'EOD--EXTENSION'
  - http://datadictionary.naaccr.org/default.aspx?c=10#790

[2019-09-08 21:23] mgurley opened #83 "Missing ICDO Site/Histology combinations."

[2019-09-09 05:09] cgreich commented on #30
How much?

[2019-09-09 07:08] dimshitc commented on #83
@mgurley
what is the source you take this concepts from?

[2019-09-09 10:07] mgurley commented on #30
@cgreich
If I could automate it, it would not be a burden.  I just noticed some that seemed wrong.  Likely the full set will need to take a second pass curation.

[2019-09-09 11:32] mgurley opened #84 "Ingest ICDO 3.2 into the OMOP vocabulary tables."

[2019-09-09 17:08] mgurley opened #85 "Some surgery NAACCR values might have been accidentally placed in the 'Observation' domain."

[2019-09-11 01:23] mgurley opened #87 "NAACCR Variable 1517 'Phase II Total Dose' has the wrong 'Has parent item' relationship."

[2019-09-11 01:32] mgurley opened #88 "Fix duplicated NAACCR treatment modifiers."
The ETL script is duplicating he insertion of NAACCR treatment modifiers.

[2019-09-11 01:39] #88 closed

[2019-09-11 10:51] mgurley opened #89 "Remove extra drop/create for measurement_temp temporary table."
The temporary table ETL script is dropping/creating the measurement_temp table twice.  Causing diagnosis modifiers to not get inserted.

[2019-09-11 11:02] #89 closed

[2019-09-12 13:56] mgurley opened #91 "Filter out invalid dates from input format before inputing them into the CDM table."

[2019-09-12 14:00] #91 closed, assigned to nobody

[2019-09-13 17:26] mgurley opened #94 "NAACCR Variable 1117 'METS AT DX-OTHER' missing missing NAACCR Values."

[2019-09-14 02:14] mgurley opened #96 "Bring in the ICDO3 Topography Classes into the OMOP vocabulary."
https://bioportal.bioontology.org/ontologies/ICD-O-3-T/?p=classes&conceptid=root

This class hierarchy structure is very close to how most oncology researchers broadly categorize major cancer types.  OMOP data should be able to meet those expectations.

[2019-09-14 10:24] cgreich commented on #96
@dimshitc: can you show?

[2019-09-15 10:07] mgurley commented on #96
Ah, I see that C50 'Subsumes the' following

- C50 | breast
  - C50.1 | Central portion of breast
  - C50.2 | Upper-inner quadrant of breast
  - C50.3 | Lower-inner quadrant of breast
  - C50.4 | Upper-outer quadrant of breast
  - C50.5 | Lower-outer quadrant of breast
  - C50.6 | Axillary tail of breast
  - C50.8 | Overlapping lesion of breast
  - C50.9 | Breast, NOS

But as their equivalents in

[2019-09-15 10:07] #96 closed

[2019-09-19 22:32] mgurley commented on #6
The first version of this has been completed.

[2019-09-19 22:32] #6 closed

[2019-09-19 22:34] #3 closed

[2019-09-19 22:40] mgurley commented on #10
This duplicates #10

[2019-09-19 22:40] #10 closed

[2019-09-19 22:43] #15 closed

[2019-09-19 22:45] mgurley commented on #14
We will reopen this possibly once we get the first distribution of OROT.

[2019-09-19 22:45] #14 closed

[2019-09-19 22:46] mgurley commented on #16
We will possibly reopen this once we get the first OROT distribution.

[2019-09-19 22:46] #16 closed

[2019-09-19 22:46] mgurley commented on #17
We will possibly reopen this once we get the first OROT distribution.

[2019-09-19 22:46] #17 closed

[2019-09-19 22:48] mgurley commented on #21
This has been completed.

[2019-09-19 22:48] #21 closed

[2019-09-19 22:50] mgurley commented on #27
First version of NAACCR was ingested into the OMOP vocabulary, so any issues should be submitted.

[2019-09-19 22:50] #27 closed

[2019-09-19 22:53] mgurley commented on #30
We decided that all flavors of unknown beyond Treatment concepts should be made non-standard.  Treatment unknowns should be standard in the Observation domain.
Specific problems will need to be handled in separate issues.

[2019-09-19 22:53] #30 closed

[2019-09-19 22:56] #42 closed

[2019-09-19 22:56] #43 closed

[2019-09-19 22:56] mgurley commented on #46
We did this for the symposium.

[2019-09-19 22:56] #46 closed

[2019-09-19 22:58] mgurley commented on #48
This is overkill.  The OMOP vocabulary team's  NAACCR ingestion code just needs to be open sourced.

[2019-09-19 22:58] #48 closed

[2019-09-19 23:01] #47 closed

[2019-09-19 23:06] mgurley commented on #50
Too broad.  Come up with more specific tasks.

[2019-09-19 23:06] #50 closed

[2019-09-19 23:07] mgurley commented on #53
Duplicates #22

[2019-09-19 23:07] #53 closed

[2019-09-19 23:07] mgurley commented on #54
This was completed.

[2019-09-19 23:07] #54 closed

[2019-09-19 23:08] mgurley commented on #57
Duplicates #22

[2019-09-19 23:08] #57 closed

[2019-09-19 23:10] mgurley commented on #60
This is done.

[2019-09-19 23:10] mgurley commented on #64
This is done.

[2019-09-19 23:10] #64 closed

[2019-09-19 23:13] mgurley commented on #66
This will be handled once the extension is made part of an official release.

[2019-09-19 23:13] #66 closed

[2019-09-19 23:14] mgurley commented on #69
This is done.

[2019-09-19 23:14] #69 closed

[2019-09-19 23:16] mgurley commented on #72
This is done.

[2019-09-19 23:16] #72 closed

[2019-09-19 23:17] mgurley commented on #74
This is done.

[2019-09-19 23:17] #74 closed

[2019-09-19 23:21] mgurley commented on #80
This is done.

[2019-09-19 23:21] #80 closed

[2019-09-19 23:24] mgurley commented on #83
See more here:
https://forums.ohdsi.org/t/icd-o-3-codes/7964/3

[2019-09-19 23:25] mgurley opened #101 "Add missing ICDO codes."
See here:

https://forums.ohdsi.org/t/icd-o-3-codes/7964/3

[2019-09-23 15:49] dimshitc commented on #11
This inspiried me to start the conversation
https://forums.ohdsi.org/t/type-concepts-consolidation/8025
Let the golden age happen!

[2019-09-29 12:35] mgurley commented on #51
So far this is what has been implemented in the OMOP vocabulary:

item_number | item_name | relationship_id | item_number | item_name
-- | -- | -- | -- | --
1011 | AJCC TNM Path T | Maps to | 880 | TNM Path T
1012 | AJCC TNM Path N | Maps to | 890 | TNM Path N
1013 | AJCC TNM Path M | Maps to | 900 | TNM Path M
1014 | AJCC TNM Path Stage Group | Maps to | 910 | TNM Path Stage Group
1001 | AJCC TNM

[2019-09-30 11:49] denyskaduk commented on #51
Hello everyone. I help Dmitriy with duplication in NAACCR. We have some examples and want to share it. In attachment below you can find some groups of values which we want to deduplicate with suggestion of mapping to standard concept or creating a new one.
[NAACCR_value_dedup_smaple.xlsx](https://github.com/OHDSI/OncologyWG/files/3670861/NAACCR_value_dedup_smaple.xlsx)

[2019-09-30 11:55] mgurley commented on #51
@denyskaduk
Please create separate tickets for each of the questions in this spreadsheet.

[2019-09-30 12:17] denyskaduk opened #102 "Tumor extension deduplicating"
naaccr_item '2810’ - CS Extension (Identifies contiguous growth (extension) of the primary tumor), naaccr_item ‘772’  - EOD Primary Tumor (is used to classify contiguous growth (extension) of the primary tumor), as we can see this two items describe same thing and  it can be deduplicated and their values can be deduplicated too

variable_description | concept_name | vocabulary_id | concept_class_i

[2019-09-30 13:18] denyskaduk opened #103 "TNM Staging"
Should we treat pathological and clinical stage values as the same concept , like we already have in LOINC?

variable_description | concept_name | vocabulary_id | concept_class_id | concept_code | suggested_standard_concept_name | standard_concept_code | standard_vocabulary_id
-- | -- | -- | -- | -- | -- | -- | --
(TNM Tumor case) |   |   |   |   |   |   |  
TNM Path T | pT1a | NAACCR | NAACCR Val

[2019-10-01 07:22] denyskaduk opened #104 "Lab Values and concept_numeric"
In continue our deduping process, we found such cases in Variables that can be also deduped:

concept_name | vocabulary_id | concept_class_id | concepT_code | suggested_standard_concept_name | standard_concept_code | standard_vocabulary_id
-- | -- | -- | -- | -- | -- | --
Pre-Orchiectomy Human Chorionic Gonadotropin (hCG) Lab Value | NAACCR | NAACCR Value | testis@2862 | hCG Pre-orchiectomy Lab Va

[2019-10-01 20:46] jeremywarner commented on #102
Hi if you’re choosing between “CS” and “EOD” variables, please keep “EOD” (Extent of Disease) which is a current system. CS (collaborative stage) has been phased out; useful for historic data but not going forward.

Best,
Jeremy

Jeremy L. Warner MD, MS, FAMIA
Associate Professor of Medicine and Biomedical Informatics at Vanderbilt University
Medical Director, Vanderbilt Cancer Registry
Chair, AMI

[2019-10-02 09:14] denyskaduk commented on #102
Hello, @jeremywarner,  don't worry we won't delete anything. We do the NAACCR concepts  non-standard and create a new standard concept or map them to standard one. As in example above will be create a new standard and we can do a new name or keep one from non-standard concept. As both “CS” and “EOD” variables  will be non-standard we will put them in MEASUREMENT table as SOURCE_CONCEPT_ID and the

[2019-10-02 14:02] cgreich commented on #102
@denyskaduk: Usually, we don't create Standard Concepts out of the blue, but we promote some Concept to Standards and some leave as non-standard. Creating brand new Concepts would mean to build an Extension, and so far we haven't pulled the plug and decided to do that.

So, please make the EODs Standard and the CS ones non-standard, and create a relationship between them.

[2019-10-02 22:57] CSRessel opened #105 "Missing NAACCR concept for concept_code 1296@03-89"
Hello, I’ve been unable to find on Athena the NAACCR value corresponding to `concept_code = 1296@03-89`, in response to NAACCR variable of `concept_id = 35918370`, and believe this value may missing

[2019-10-06 12:31] #68 closed

[2019-10-06 14:44] mgurley opened #106 "Revive genomic group with oncology focus."

[2019-10-06 14:47] mgurley opened #107 "Start Development Subgroup."
Focuses
- Documentation
- Support sites implementing the OMOP Oncology Extension.
- NAACCR ETL development.
- EHR/Claims ETL development.
- EHR/Claims oncology drug regimen derivation/extraction algorithm  development.
- EHR/Claims disease episode (first occurrence, progression, recurrence, metastasis) derivation/extraction development.
- Analytical/statistical packages development.
- Curation too

[2019-10-06 15:16] mgurley opened #108 "Start use Research Subgroup."

[2019-10-06 15:19] mgurley opened #109 "Prioritize NCI use cases and Industry use cases."

[2019-10-06 15:24] mgurley opened #110 "Representation of vital status and date of vital status from NAACCR"
Proposal: Observation period is derived from vital status: diagnosis date – start/ death date – end

[2019-10-06 15:26] mgurley opened #111 "ETL of vital status and date of vital status from NAACCR"
Depends on #110

[2019-10-06 15:28] mgurley opened #112 "Converge on one NAACCR ETL code base."

[2019-10-06 15:30] mgurley opened #113 "Create a mapping table to be used for handling ambiguous ICDO site/histology combinations present in multiple schemas."

[2019-10-06 15:33] mgurley opened #114 "Polish symposium analytical package."
Produce a fully functional standalone package the end-users can easily download and use to execute the plots that were used for the symposium along with being able to customize some aspects of the plot such as scale and labels since those can be thrown off by data variability
between institutions.

[2019-10-07 00:26] chandryou commented on #106
I discussed with Rimma about this, and shared sample data for further improvement.
We're on it!

[2019-10-07 08:56] mgurley opened #115 "Run Anastasios's OncoRegimenFinder finder script at multiple institutions."

[2019-10-07 08:59] mgurley opened #116 "Determine validation strategy for assesing the performance of oncology drugr regimen derivation algorithims."

[2019-10-07 09:05] mgurley opened #117 "Solicit committment to rerun symposium plots."
We would like to rerun the symposium plots with expanded participation.

- MSK,
- Columbia
- IQVIA
- AJOU (Chan)
- Providence (Paul)

More if possible.

[2019-10-07 09:20] mgurley opened #118 "Get the OMOP Oncology Extension into an official CDM release."
Please use the https://github.com/OHDSI/OncologyWG/tree/master/ddl as the source of truth for what should be merged into the CDM.

[2019-10-07 09:27] mgurley opened #119 "Reach out to the American College of Surgeons (ACS) about sourcing AJCC Cancer Staging Manual, 8th Edition."
We have had discussions with Martin Madera of the ACS  <mmadera@facs.org> previously.   Judy Janes <jjanes@facs.org> tried to schedule a meeting with us.  We need to follow back up.  Related to #52.

[2019-10-07 09:34] mgurley opened #120 "Develop a compelling network study"

[2019-10-07 09:36] mgurley opened #121 "Develop tutorial for oncology extension."
Dependent on #22

[2019-10-07 09:40] mgurley opened #122 "Write unit tests framework for NAACCR ETL code base."

[2019-10-07 09:42] mgurley opened #123 "Determine modeling and vocabulary support for the representation of other 'Disease Episodes' beyond 'Disease First Occurrence'."
- Recurrence
- Progression
- Stable Disease
- Remission
- End of life event

And so on.

[2019-10-07 09:49] mgurley opened #124 "Model metastasis."
Maybe see #123

[2019-10-07 09:52] mgurley opened #125 "Normalizing NAACCR: deduplicating"
Proposal: mapping all duplicate concepts to a new OMOP generated concepts. Ultimately, they should be mapped to a standard concept, but we have not determined them yet.  See #9

This process was started in #51.  Should be revisited and incorporate prior work.

[2019-10-07 09:55] mgurley opened #126 "Document non-NAACCR ETL process:"
- Disease episodes  and disease episode modifiers from EHR/Claims/Chart Abstraction.
- Drug regimen treatment episodes from EHR/Claims/Chart Abstraction.
- Radiation therapy  treatment episodes from EHR/Claims/Chart Abstraction.
- Surgery treatment episodes from EHR/Claims/Chart Abstraction.
- Other therapy treatment episodes from EHR/Claims/Chart Abstraction.

Related to #22

[2019-10-07 10:00] mgurley opened #127 "Representation and ETL from NAACCR of recurrence/diseases episidoses beyond 'Disease First Occurrence'"

[2019-10-07 10:02] mgurley opened #128 "Determine modelling support for 'Response to treatment'."
- Progression
- Stable Disease
- Complete response

[2019-10-07 10:04] mgurley opened #129 "Expand support for diagnosis modifiers."
Options:
- CAP checklists into vocabulary
- CAPS checklists and Nebraska
- Just new concepts describing CAP checklists.

Related to #9

[2019-10-07 10:13] mgurley opened #130 "Add HemOnc temporality for oncology drug regimens."

[2019-10-07 10:14] mgurley opened #131 "Bringing OROT surgery into vocabulary."

[2019-10-07 10:16] mgurley opened #132 "Bringing OROT radiotherapy into vocabulary."

[2019-10-07 10:20] mgurley opened #133 "Develop algorithms for the identification of oncology drug regimens."
Get as many groups as possible to develop algorithms.

[2019-10-07 10:25] mgurley opened #134 "Develop algorithims for the identification of diseases episodes."
- Recurrence
- Progression
- Metastasis

[2019-10-07 10:28] mgurley opened #135 "Determine vocabulary support for genomic data."

[2019-10-07 10:29] mgurley opened #136 "Organize challenge for oncology drug algorithim derivation."

[2019-10-08 09:55] mgurley opened #137 "Determine modelling support for genomic data."
See existing work here:
https://github.com/ABMI/GeneProfiler
https://forums.ohdsi.org/t/genomic-cdm-published-on-jmir-if-4-67/6447

[2019-10-08 09:57] mgurley opened #138 "Publish NAACCR vocabulary ingestion code."

[2019-10-08 09:59] mgurley opened #139 "Publish ICDO vocabulary ingestion code."

[2019-10-08 10:00] mgurley opened #140 "Publish Hemonc.org vocabulary ingestion code."

[2019-10-08 10:01] mgurley commented on #140
This is done: https://github.com/OHDSI/Vocabulary-v5.0/tree/master/HemOnc

[2019-10-08 10:01] #140 closed

[2019-10-08 10:02] mgurley opened #141 "Create a synthetic dataset."
Look at related work by @dckc  here:
https://github.com/kumc-bmi/naaccr-tumor-data/tree/master/test_data

[2019-10-08 10:21] mgurley opened #142 "Determine modelling support for imaging data."
See existing work here:

https://github.com/OHDSI/Radiology-CDM

[2019-10-08 10:24] mgurley opened #143 "Make reccomendatons for technology-enabled chart abstraction/manual curation."

[2019-10-08 10:30] mgurley opened #144 "Determine vocabulary support for 'Response to Treatment'."

[2019-10-08 10:31] mgurley opened #145 "Determine vocabulary suport for imaging data."

[2019-10-08 10:32] mgurley opened #146 "Ingest ICDO 3.2 into the OMOP vocabulary tables."
See here:
http://www.iacr.com.fr/index.php?option=com_content&view=category&layout=blog&id=100&Itemid=577

[2019-10-08 10:37] mgurley opened #147 "Ingest the entire SEER data set into an OMOP instance."
See here:
https://seer.cancer.gov/data/access.html

[2019-10-08 10:39] mgurley opened #148 "Converge on code to pivot NAACR flat file and NAACCR XML data to an EAV structure."
See @rtmill code here:

https://github.com/OHDSI/OncologyWG/tree/master/NaaccrParser

@dckc has a solution here as well that we might be able to merge our efforts with:

https://github.com/kumc-bmi/naaccr-tumor-data

[2019-10-08 10:56] mgurley opened #149 "Reach out to 'Friends of Cancer Research' to learn about the 'Establishing the Utility of Real-World Endpoints' project."
See here:

https://www.focr.org/rwe?utm_medium=social&utm_source=Twitter&utm_campaign=8thBlueprintforBreakthrough

[2019-10-08 11:13] mgurley commented on #67
9999/9 - Unknown histology, and yet, we need to connect all sites to this code

[2019-10-08 11:19] mgurley commented on #125
Drive this based on use case

[2019-10-08 11:22] mgurley commented on #123
Review:

- NAACCR
- Check m-code, Cotta, Flatiron
- Talk to Pedram about local recurrences vs. metastatic vs. primary

[2019-10-08 11:23] mgurley commented on #128
Proposal: treatment modifier in the Measurement table or new Outcome table/domain.

[2019-10-08 11:38] mgurley opened #150 "International comparison of cancer patients based on tumor registry data."
Possible collaboration between the US, the Netherlands, Norway and Korea.  Based on queries from Gijs Geleijnse and @chandryou

[2019-10-09 13:09] mgurley opened #151 "Missing NAACCR Variables"
The following NAACCR Variables are missing from the OMOP vocabulary

naaccr_item_number|naaccr_item_name|Domain|Numeric
--|--|--|--
420|Histology (92-00) ICD-O-2|Observation|no
430|Behavior (92-00) ICD-O-2|Observation|no
523|Behavior Code ICD-O-3|Observation|no
780|EOD--Tumor Size|Measurement|yes
790|EOD--Extension|Measurement|no
800|EOD--Extension Prost Path|Measurement|no
810|EOD--Lymph Node Inv

[2019-10-09 13:21] mgurley commented on #82
duplicates #151

[2019-10-09 13:21] #82 closed

[2019-10-09 13:23] mgurley commented on #151
SQL to identify missing NAACCR variables:

<pre>
SET search_path TO omop, public;

DROP TABLE IF EXISTS naaccr_items;
CREATE TABLE naaccr_items(
  item_number                  varchar(255) NULL,
  item_name                    varchar(255) NULL,
  section                      varchar(255) NULL
);

TRUNCATE TABLE naaccr_items;

INSERT INTO naaccr_items (item_number, item_name, section) SELECT '380',

[2019-10-09 13:35] mgurley commented on #105
This issue is caused because this NAACCR variable has not been correctly identified as a 'Numeric' concept.  It should have a 'Has Type' entry in the CONCEPT_RELATIONSHIP to the 'Numeric' concept.  And there should not be entries for 'One regional lymph node examined' and 'Two regional lymph nodes examined'.  And '90 or more regional lymph nodes examined' should be handled by entries in the new CO

[2019-10-09 14:57] dimshitc commented on #7
So, is this still actual?
Is it related somehow to CAP eCC?
Can we talk about this on the one of the vocabulary meetings?

[2019-10-09 15:26] mgurley commented on #151
From the SEER API for NAACCR:

https://api.seer.cancer.gov/swagger-ui.html#/naaccr

What are you using for the NAACCR ingestion script?  Please see #138 'Publish NAACCR vocabulary ingestion code.'  It would be very useful to figure out the causes of the discrepancies in NAACCR if the ingestion code was publicly available.

[2019-10-09 15:39] dimshitc commented on #130
@mgurley can you please elaborate? Do you mean schedule components are administered?

[2019-10-09 15:42] dimshitc commented on #129
We uploaded some eCC files into our environment.
@cgreich did you have a chance to look at CAP eCC September 2019 Agile Release?

[2019-10-09 16:01] mgurley commented on #130
@jeremywarner
Can you elaborate what kind of temporal data points are available within the Hemonc.org ontology that we are not currently ingesting into OMP?  My naive guess would be 'number of cycles' and 'length of cycles'.
I think the idea of having expectations of the timing of oncology drug regimens will aide in their derivation.

[2019-10-09 20:43] mgurley opened #152 "Document NAACCR ETL process."
related to #22

[2019-10-09 20:47] #106 closed

[2019-10-09 20:49] #107 closed

[2019-10-09 21:13] mgurley commented on #120
Duplicates a milestone.

[2019-10-09 21:13] #120 closed

[2019-10-09 21:43] mgurley opened #153 "Work with NAACCR to incorporate/sync their vocabularies into OMOP"

[2019-10-09 21:44] mgurley opened #154 "Work with CAP to incorporate/sync their vocabularies into OMOP."

[2019-10-09 21:44] mgurley opened #155 "Work with IMO to discuss our proposal and recruit them to do the vocabulary mapping."

[2019-10-09 21:44] mgurley opened #156 "Work with OROT to incorporate/sync their vocabularies into OMOP."

[2019-10-09 21:45] mgurley opened #157 "Work with HemOnc.org to sync their vocabularies into OMOP."

[2019-10-09 21:58] #51 closed

[2019-10-09 22:08] cgreich commented on #144
Or is this Episode stuff?

[2019-10-09 22:17] cgreich commented on #156
Not sure what Michael changed in the title, but do we have OROT loaded already, @dimshitc?

[2019-10-09 22:25] mgurley commented on #144
Possibly, we need to decide how we are going to model response to treatment.  So might be in Episode or somewhere else.  See #128.  Which is not done yet.

[2019-10-09 22:28] mgurley commented on #156
No OROT is not yet in the OMOP vocabulary.  They have only provided draft versions of their surgery and radiation therapy compendiums mapping EHR codes to NAACCR treatment variables.  So this task would involve nudging them to get final versions, so we can finish the ingestion.

[2019-10-09 22:44] cgreich commented on #156
I meant is it already loaded into the vocab server, so we can slice and dice it. Whatever is there today. Also, didn't they already have the drug mappings as well?

[2019-10-09 22:49] cgreich commented on #144
Hm. What exactly is response to treatment? I can see two ways:
- Episodes (Remission, stable disease, progressive disease)
- Details about the Condition, as determined by new diagnostic tests and procedures, resulting in more Condition and Measurement records after the treatment is completed. They would look exactly like the ones before the treatment.

The SNOMED codes above are very detailed Epis

[2019-10-10 00:50] jeremywarner commented on #144
I would be careful about using any of those SNOMED terms; they are not typical for the parlance for response to cancer treatment. There was a thread about this some time ago on the OHDSI forum, but you might have a look at HemOnc.org’s Response to Treatment page: https://hemonc.org/wiki/Response_to_treatment. Needs work and is geared more towards the interval-based responses (progression free surv

[2019-10-10 01:40] sratwani commented on #59
Same as https://github.com/OHDSI/OncologyWG/issues/113. Closing. Please reference 113.

[2019-10-10 01:40] #59 closed

[2019-10-10 09:34] mgurley commented on #144
@cgreich  @jeremywarner @rimusia
Response evaluation criteria in solid tumors (RECIST) is a prominent example of a 'Response to Treatment' vocabulary that is used in clinical trials to measure the response of specific lesions to a treatment --largely based on dimensions measured on radiology exams.    Flatiron, as Jeremy alerted us to at our workshop, recently published on how tracking RECIST in t

[2019-10-10 09:58] mgurley commented on #156
@cgreich

I don't think the draft version of OROT is in the vocab server yet.  @dimshitc can let us know.  Regarding drug mappings, Hemonc.org is hopefully going to include in a future release all of the OROT drug mappings from NDC/HCPCS codes to NAACCR SEERRx drug categories that correspond to NAACCR drug treatments variables.  Need to ping @jeremywarner about that.  Thus the idea is that we will

[2019-10-10 16:56] mgurley opened #158 "Create data quality check for the NAACCR ETL."

[2019-10-10 16:57] mgurley opened #159 "Determine possible expanded use cases for the rerun of the symposium plots."

[2019-10-11 01:35] jeremywarner commented on #130
Hi @mgurley my understanding of HemOnc temporality in this context would be the declarative relationships between two regimens which can take two flavors:

  *   Can be preceded by (1087 instances in the full vocabulary)
  *   Can be followed by (982 instances in the full vocabulary)

The reason that these classes are imbalanced is that many of the “can be preceded by” relationships are to surgica

[2019-10-11 01:35] jeremywarner commented on #144
Hi everyone,

The two major approaches to this problem are:

  1.  Anchor everything to a treatment episode, which itself defines the response to some degree. So if you’re in a first-line metastatic treatment episode, as long as you’re in it, the presumption that you have stable disease or better, or at least a clinical benefit, is valid. Once you transition to a second-line metastatic treatment e

[2019-10-11 10:19] mgurley commented on #130
@jeremywarner @dimshitc @cgreich
Actually, I think the temporality that we are wanting to next incorporate into the OMOP vocabulary is not the temporal relationships of the regimens to prior or subsequent therapies but, rather, the temporal properties of regimens in themselves.  For example, let's look at the
Hemonc.org page for the 'DE' regimen:

https://hemonc.org/wiki/Breast_cancer#DE

On this

[2019-10-11 11:05] mgurley commented on #134
See here for prior work: https://www.eurekalert.org/pub_releases/2019-07/dci-nat072319.php

[2019-10-11 12:42] cgreich commented on #130
Gents: You have both cases we need to tackle.

@jeremywarner: I wouldn't worry about coding the condition under which a treatment can be followed by another one. That is up to the physician at treatment time. We are in the observational world, we just capture did it happen or not. So, I agree with @dimshitc that we should have proper bidirectional links, and that's it.

@mgurley: Jeremy has those

[2019-10-14 13:20] sratwani opened #160 "SHilpa Test"

[2019-10-14 13:20] sratwani commented on #160
test assignment of task to milestone

[2019-10-14 13:28] #160 closed

[2019-10-14 17:21] sratwani opened #161 "CD2H OHDSI oncology WG collaboration"
CD2H is the 'National Center for Data to Health' initiative. Through the CD2H program, standardized approaches and best practices are being developed, including algorithms and other specialized tools, to address operational and institutional barriers to sharing data. Andrew has made the initial connection with Christopher Chute <chute@jhu.edu> and has invited them to attend our vocabulary subgroup

[2019-10-14 18:29] #108 closed

[2019-10-14 18:30] sratwani commented on #108
Group has been started.

[2019-10-14 18:32] sratwani commented on #117
Including Tumor registry from EU -> Netherlands, Korea, West Coast

[2019-10-15 14:50] patelm9 opened #162 "test"

[2019-10-15 14:52] #162 closed

[2019-10-15 14:52] patelm9 opened #163 "test"

[2019-10-15 14:54] #163 closed

[2019-10-15 15:09] sratwani commented on #159
Christian and Andrew invited Chan, Sergio, Paul and Young Ji to bring their important use cases to develop a repository of uses cases we can execute against the extended Oncology CDM.

[2019-10-16 12:12] denyskaduk commented on #125
14:51
Hello! In continue of dedup process, I want to propose dedupping variables which contain stages information:
concept_code | concept_name | standard_code | standard_name
1022 | AJCC TNM Post Therapy N | 815 | Derived EOD 2018 N
2960 | Derived AJCC-6 N | 815 | Derived EOD 2018 N
3410 | Derived AJCC-7 N | 815 | Derived EOD 2018 N
3482 | Derived PostRx-7 N | 815 | Derived EOD 2018 N
3450 | Deriv

[2019-10-16 17:22] mgurley opened #164 "Solicit development of oncology drug regimen derivation algorithms."
@ansi90, @chandryou and @jeremywarner  have all created algorithms to derive oncology drug regimens from observational data.  We would like all of these participants and more to join in an "Oncology Drug Regimen Extraction Challenge".  Find other participants.

[2019-10-16 22:45] chandryou opened #165 "Accessible data list"
At the first research subgroup meeting, we agreed to identify accessible database and uses cases.

I'm not sure this issue is good repository to collect this list, but we can start here. Then we can clean this up.

So could you please list your accessible oncology data.

Note that you can vote on each post.

Please summarize your accessible data according to the table below.
[code]

[2019-10-16 22:53] chandryou commented on #165
|Database ID|Country|Type|Size|Year|Explanation|Conversion status| Contact|
|:---|:---|:---|:---|:---|:---|:---|:---|
|HIRA-Cancer|KOR|Nationwide claim| | |Whole national claim database|Completed, CDM v5.3 |@neal1202|
|Cancer Registry Sample|KOR|Cancer registry| | |10% sampled cancer registry of Korea|Data access applied |@neal1202|

[2019-10-17 05:41] cgreich commented on #125
@denyskaduk:

Why not just "Derived N" or "N"?

And your question: That is a typical problem we have, that a concept contains not just a fact (derived N), but the fact and some longitudinal context. Similar to ICD-10 codes "some condition, first encounter". We usually strip this out. So, the fact there was a therapy is irrelevant to define the N.

[2019-10-17 11:17] mgurley opened #166 "Integrate into the NAACCR ETL the mapping table handling ambiguous ICDO site/histology combinations present in multiple schemas."
Depends on #113

[2019-10-17 12:33] sratwani commented on #165
Thanks @chandryou. I'm currently putting together a list of the data assets and use cases we already have in our backlog and will add it to the OHDSI wiki shortly. This is a good spot to collect others. I'll share with the rest of the subgroup members.

[2019-10-17 14:10] dimshitc commented on #125
So, we map it to LOINC: Regional lymph nodes.clinical [Class] Cancer
or  Regional lymph nodes.pathology [Class] Cancer
Right?
BTW, @denyskaduk can we know somehow, are the concepts given describe clinical or pathological staging?

[2019-10-17 15:04] denyskaduk commented on #125
@dimshitc, Unfortunately NAACCR didn't give such information for this Items. @cgreich also this vocabulary didn't give us concepts with non-specific names, we can create them, but as from previous discussion I remember, it isn't a good choice or we can create a new Standard concept in this case?

[2019-10-17 15:30] mgurley commented on #158
Please write examples of NAACCR data quality checks that we want to implement here.

[2019-10-17 15:31] mgurley opened #167 "Document code to pivot NAACCR flat file the NAACCR input format."

[2019-10-17 15:34] mgurley commented on #148
We are going to go with @rtmill code.  Robert will document the code.  See #167

[2019-10-17 15:34] #148 closed

[2019-10-17 15:35] #112 closed

[2019-10-17 15:41] mgurley opened #168 "Define maturity model categories that specify readiness for adoption of our ETLs, CDM schema, algorithms, mappings, study packages,etc."
At the 10/17 Oncology Development Subgroup meeting @AEW0330 suggested we apply a maturity model to our ETL code bases.  So people have an idea the level of quality to expect.

[2019-10-17 15:42] denyskaduk commented on #125
As we already started to talk about mapping to our standard vocabularies, I want to suggest one more mapping case:

concept_code | concept_name | vocabulary_id | standard_code | standard_name | standard_vocabulary
-- | -- | -- | -- | -- | --
testis@2868 | Post-Orchiectomy Human Chorionic Gonadotropin (hCG) Lab Value | NAACCR | 67900009 | Human chorionic gonadotropin measurement | SNOMED
testis@286

[2019-10-17 15:46] mgurley opened #169 "Fix NAACCR ETL to not hardcode bad type 'Tumor Registry' cocnepts because the correct ones do not yet exist."

[2019-10-17 17:16] sratwani commented on #168
@mgurley is this the responsibility of the Development Subgroup. I understood from the call that Andrew will work with Chan and Martin on this.

[2019-10-17 18:06] mgurley commented on #168
It kind of cuts across all the groups. So I think this is OK to live with the Development Group.

However, I think you are mixing this with #114.  That is where @AEW0330 and @patelm9 need to work with @schuemie  and @chandryou

[2019-10-17 22:27] sratwani commented on #115
@mgurley @rtmill @ansi90 Robert will run the script 'OncoRegimenFinder' against Tufts data asset. We need other participants to run the package as well. Adding this to the Outreach/Research repo.

[2019-10-17 22:30] sratwani commented on #169
This task is dependent on Task # 11 that is assigned to the CDM/Vocabulary Subgroup.

[2019-10-17 22:46] sratwani commented on #165
Closing this as this is being tracked in #159

[2019-10-17 22:46] #165 closed

[2019-10-17 22:48] sratwani commented on #121
@rimusia Can I assign this to you based on our conversation around documentation.

[2019-10-17 22:51] sratwani commented on #79
Assigned to @dimshitc , Dima and @cgreich will have a conversation about resources needed for this task.

[2019-10-17 22:52] sratwani commented on #78
Assigned to @dimshitc , Dima and @cgreich will have a conversation about resources needed for this task.

[2019-10-17 22:53] sratwani commented on #73
Assigned to Qi Yang.

[2019-10-17 23:26] chandryou commented on #159
Here is our accessible data list

|Database ID|Country|Type|Size|Year|Explanation|Conversion status| Contact|
|:---|:---|:---|:---|:---|:---|:---|:---|
|HIRA-Cancer|KOR|Nationwide claim| | |Whole national claim database|Completed, CDM v5.3 |@neal1202|
|Cancer Registry Sample|KOR|Cancer registry| | |10% sampled cancer registry of Korea|Data access applied |@neal1202|

[2019-10-17 23:31] chandryou commented on #168
We developed R package for automated ETL process for Korean claim data, which is available at [OHDSI github](https://github.com/OHDSI/ETL---Korean-NSC/tree/master/etlKoreanNSC).

[2019-10-18 11:31] denyskaduk commented on #81
Hello! For Variable 'Type of Reporting Source' I found in NAACCR dictionaty values and they will be added to vocabulary:

Variable_code | Variable_name | Value_code | Value_name
-- | -- | -- | --
500 | Type of Reporting Source | 1 | Hospital inpatient; Managed health plans with comprehensive, unified medical records
500 | Type of Reporting Source | 2 | Radiation Treatment Centers or Medical Oncolo

[2019-10-18 11:51] sratwani commented on #22
It was decided in the meeting on 10/17 that this task will be completed after other development of NAACCR.

[2019-10-18 11:53] sratwani commented on #152
It was decided on the 10/17 call that this task will be worked on after some of the other NAACCR development activities. Re-visit after a few sprints.

[2019-10-18 12:00] denyskaduk commented on #71
Hi, if we will create relationship for NAACCR item and 3220 (RX DATE RAD ENDED) -  'Variable has end date', we suggest to create newone relationship 'Variable has start date' between NAACCR item and 1210 (RX DATE RADIATION). It will give more easier ETL process when field _START_DATE and _END_DATE will filling.

[2019-10-18 12:07] sratwani opened #170 "Clean-up multiple versions of the ETL code"
There are multiple versions of the ETL code that needs to be consolidated into one and make the one version available for use. Any bugs that are identified will have tasks created to handle them.

[2019-10-18 12:09] mgurley commented on #170
@sratwani This was already done in #112.

[2019-10-18 12:09] #170 closed

[2019-10-18 12:25] mgurley commented on #71
@denyskaduk That seems reasonable.

[2019-10-18 16:49] sratwani opened #171 "Use Case Intake for Extended Oncology CDM"
This issue has been opened to gather use cases from partners interested in running a research study using the extended Oncology CDM.
Please include the following information:

1. Name of your organization,
2. Your contact information
3. Protocol Synopsis
4. Objectives
5. Study Design
6. Study Population
7. Outcomes of interest

[2019-10-19 00:37] cgreich commented on #125
@denyskaduk: I understand the problem. This is not just a matter of picking a useful Standard, we would have to create it. And then we are in the business of vocab production. Urgh. Well, let's take a look how many of these we would need. Do you have an idea?

[2019-10-19 13:52] cgreich commented on #71
Friends:

Hm. I am a little torn. We are trying to build the vocabulary system into a automated ETL structure, and we do that without really thinking about the model. Instead, we keep adding relationships, which are increasingly rare and odd. On the other hand I understand the intention. LEt me think about it and do a Forum post.

[2019-10-20 11:44] sratwani commented on #11
Team's decision is to put this on-hold. Issue is being tracked for the Development group once this vocabulary work is done.

[2019-10-20 12:01] sratwani commented on #67
Dima confirmed that he's already working on this issue.

[2019-10-20 12:18] sratwani commented on #113
Based on the 10/17 vocabulary call, Christian, Rimma and Dima need to scope the requirements out for this task. Awaiting their discussion before this task can be assigned.

[2019-10-20 13:30] cgreich commented on #11
https://forums.ohdsi.org/t/concept-type-consolidation-please-take-a-look/8306

It's not "Tumor registry" but "Registry", but the fact that it is a tumor registry is obvious from the METADATA table and the content.

[2019-10-20 13:34] cgreich commented on #113
@mgurley or @dimshitc : Can you provide an example? I can't remember what this was.

[2019-10-20 16:42] meerapatelmd opened #172 "Articulate a minimum of 3 genomics use cases framed as high-level research questions"
In order for us to identify the most important genomics concepts and notions that will require standardization, we need to first know what questions we are trying to answer using this information.

Focusing on Multiple Myeloma, Bladder Cancer, and/or Breast Cancer, what types of research questions would you like to answer should all the possible genomic data for these cohorts are readily and relia

[2019-10-20 16:46] meerapatelmd opened #173 "Centralize existing standard genomic vocabularies"
A genomics/ directory with vocabulary/ has been created to start the information gathering process. All standard and source vocabularies should be posted to vocabulary/ and a comment with a description of what has been posted should be submitted to this issue for review as a team at subsequent meetings.

[2019-10-20 16:47] meerapatelmd opened #174 "Deposit genomic concepts from use cases into a query for mapping"

[2019-10-20 19:41] AEW0330 commented on #168
The categorization of ETL maturity is a Development Subgroup issue.
That issue, as Mike says, is separate from developing support for best practices in the development and registration of study packages. Those are practices we want to support in a standardized way for the development and registration of study packages should be tagged with Research/Outreach labels. See my recent email exchange on

[2019-10-20 23:47] cgreich commented on #172
@patelm9:

The simplest is "what genomic markers are measured in tumor type XYZ?" Everybody is asking that.
The next one is which of the measured markers are testing positive?
The next one is Genetic association studies, e.g. which of hte markers are associated with disease, or progression, or treatment effect?
The next one is GWAS.

[2019-10-21 00:44] meerawhy commented on #172
Thank you! Will add these to the list to go over at this week's meeting.

Sent from a Google Pixel

On Sun, Oct 20, 2019, 7:47 PM Christian Reich <notifications@github.com>
wrote:

[2019-10-21 11:07] denyskaduk commented on #173
Hello! Do you mean to use loinc as 'existing standard genomic vocabularies':
loincnumber | longcommonname | partnumber | partname | parttypename
-- | -- | -- | -- | --
21640-8 | BRCA2 gene c.6174delT [Presence] in Blood or Tissue by Molecular genetics method | LP288106-0 | BRCA2 gene | GENE
79208-5 | BRCA2 gene mutation analysis limited to known familial mutations in Blood or Tissue by Molecular g

[2019-10-21 11:14] dimshitc commented on #71
Actually, we are thinking about the model.
We don't have the way to determine the end date with the current model.
So, Michael found a way to do this.

[2019-10-21 11:15] denyskaduk commented on #173
Hello! Do you mean to use LOINC as 'existing standard genomic vocabularies'? As I know LOINC keep some gene measurements with gene as attribute, for example:

loincnumber | longcommonname | partnumber | partname | parttypename
-- | -- | -- | -- | --
21640-8 | BRCA2 gene c.6174delT [Presence] in Blood or Tissue by Molecular genetics method | LP288106-0 | BRCA2 gene | GENE
79208-5 | BRCA2 gene mutat

[2019-10-21 11:17] ekorchmar commented on #67
If I understand your request correctly, we need to make sure that morphology ([8000/1](http://athena.ohdsi.org/search-terms/terms/44498000) Tumor, NOS) is available for every single topography? This code seems to exist exactly to fulfill the role for poorly specified histologies.

Although it goes against specifications of ICD-O-3 itself, some cancer registries include placeholder value of 9999/9

[2019-10-21 12:57] patelm9 commented on #173
@denyskaduk Yes, this is a good example! Also, we need to gather the standard vocabularies that were used in the paper @chandryou had discussed last week.

[2019-10-21 15:18] dimshitc commented on #113
It was decided that we need this kind of table:

icdo_site_histology | naaccr_item | naaccr_item_code | sex | csfactor25 | naaccr_item_omop_concept_id | naaccr_item_code_omop_concept_id
see #59

So, I should make this for all schemas to be consistent, right?

I see 'csfactor25' here. What about '3926' -- Schema Discriminator 1 and '3927' --  Schema Discriminator 2 ?
they can be used as well
see
ht

[2019-10-21 16:06] dimshitc commented on #67
I suppose we have to distinguish between 8000/1 Tumor, NOS (When it is exactly documented as '8000/1');
and the case when the Histology is not reported / not documented / there's an empty field in cancer registry, and in this case we need to use 9999/9 code.

[2019-10-21 16:06] mgurley commented on #113
@dimshitc  @cgreich
Yes we need a column for every possible additional NAACCR item that is needed to disambiguate a site/histology/naaccr item/naaccr item code combination.   Here is a list of all the ambiguities at the NAACCR item level:

https://drive.google.com/file/d/1MeZi95W9_PCeXEoI2J8SzppeqfbkI6rm/view?usp=sharing

This list was created based on this SQL:

https://github.com/OHDSI/OncologyW

[2019-10-21 23:32] cgreich commented on #67
Wait guys. If an attribute is not available go to a concept that doesn'T have it. Instead of an attribute called "Not there". So, in our case why would we not go to the SNOMED concept "Malignant neoplasm of XYZ", where the histology is missing?

[2019-10-22 05:42] dimshitc commented on #67
Nice:) it was @ekorchmar 's initial thought, and then I convinced him that we need this undefined thing because of NAACCR schema definition. We'll check whether NAACCR schema definition works even we treat ICDO topography without histology as an ICD10CM code and map it to SNOMED.

[2019-10-22 08:46] ekorchmar commented on #67
Can we really treat ICD-O-3 topgraphy codes as ICD10CM though?

ICDO3 uses topography codes from ICD-10-CM chapters with malignant neoplasms, even when neoplasm is benign or of uncertain behavior. That means that benign and malignant lesions all have the same topography codes, always corresponding to ICD-10-CM **malignant** neoplasms and we can't directly transition to using pure ICD-10-CM from to

[2019-10-22 12:20] mgurley commented on #137
@chandryou @patelm9

I think it would be useful at some point for Chan to walk through with the group each table in the
Entity Relationship Diagram of the Genomic CDM.  See here:

https://github.com/OHDSI/Genomic-CDM

I think describing the purpose of each table and the vocabularies tied to each field and the relationship between these new tables and existing CDM tables would be useful for the gro

[2019-10-22 15:06] denyskaduk commented on #151
naaccr_item_number | naaccr_item_name
-- | --
3702 | SEER Site-Specific Fact 2
3704 | SEER Site-Specific Fact 3
3706 | SEER Site-Specific Fact 4
3708 | SEER Site-Specific Fact 5
3710 | SEER Site-Specific Fact 6

These concepts didn't have any values in registry data and "SEER Coding and Staging Manual 2018"
https://seer.cancer.gov/manuals/2018/SPCSM_2018_maindoc.pdf tell us:
"Five of these data it

[2019-10-22 15:07] denyskaduk commented on #105
During the investigation of such objects, we found this: 560 "Order number - hospital" http://datadictionary.naaccr.org/default.aspx?c=10#560. We have some confusion regarding these values. On the one hand, it is useful to store the values as numeric, but we will skip the separation of “non-malignant tumors” and “malignant tumors” because we do not have such units. And if we create new values for

[2019-10-22 16:06] dimshitc commented on #105
Just to clarify a bit:
we're going to create all possible concepts for these values

01 | First of two or more malignant primaries
02 | Second of two or more malignant primaries
03 | Third of three or more malignant primaries
10 | Tenth of ...
...
and for 60 and above the same approach but with benign neoplasm.

[2019-10-22 17:30] cgreich commented on #67
@ekorchmar:

- Can we really treat ICD-O-3 topgraphy codes as ICD10CM though?

What has that to do with SNOMED?

- That means that benign and malignant lesions all have the same topography codes, always corresponding to ICD-10-CM malignant neoplasms and we can't directly transition to using pure ICD-10-CM from topography.

I see your point. So, an unknown histology really means we don't know it's

[2019-10-23 02:55] cgreich commented on #105
Hm. This really is something that should go into the SPECIMEN table, and then connected to the MEASUREMENT. Should we do that?

[2019-10-23 02:59] cgreich commented on #151
Again, these appear ultra odd cases. We should have a parking lot somewhere on the website to keep those issues for which there are no data anyway. ICD-O-2 is long gone.

[2019-10-23 09:31] dimshitc commented on #151
So, we treat your answer, @cgreich  as you agree with what we wrote above, right?

[2019-10-23 09:59] dimshitc commented on #105
So, SPECIMEN will have entities "tumor number 1", "tumor number 2"
then these entities should be connected to CONDITION (using fact_relationship) where we keep diagnosis and to MEASUREMENT (using measurement modifiers) where we keep stages and other cancer properties.
Looks cumbersome, isn't it?

[2019-10-23 10:45] dimshitc commented on #81
concept_id | concept_name | concept_code
-- | -- | --
35918787 | CS Version Input Original | 2935
35918741 | CS Version Derived | 2936
35918293 | CS Version Input Current | 2937

These should be non-standard Observation.
In this case usual ETL fills source_value fields with exact codes and standard_concept_id sets = 0.
If we delete them from the vocabulary, the same will happen.

concept_id | conc

[2019-10-23 12:37] mgurley commented on #105
Yes, I don't think we want to put 560 "Order number - hospital" in the Specimen domain.  This is just an ordinal designation of the count of malignant or non-malignant  tumors tracked for the patient at the hospital.  And where the current tumor in question falls in that ordinal series.  It resides in a NAACCR section 'Hospital-Specific' that we have deemed out of scope and decided to place all va

[2019-10-23 13:49] denyskaduk commented on #105
We also found item 380 'SEQUENCE NUMBER--CENTRAL' with similar values, so we do the samefor this Variable.

[2019-10-23 17:25] mgurley opened #175 "Remove any logic preparing the naaccr_data_points input table from the generic ETL code."
Based on discussion with @rimusia

[2019-10-23 18:31] jeremywarner commented on #172
This is from my fellow Dr. Sam Rubinstein, who is not on the OHDSI list:

There are very interesting genomic questions in myeloma, but clinical data are generally not collected below the karyotype level. Some day I think cfDNA will be used to measure minimally residual disease, in which case there will be loads of data. Here are some questions that I have that may be answerable with on existing da

[2019-10-23 19:19] sratwani commented on #130
This task is essential for the completion of the Milestone [Rerun symposium plots](https://github.com/OHDSI/OncologyWG/milestone/4)

[2019-10-23 19:26] cgreich commented on #151
I think so.

[2019-10-23 19:54] mgurley commented on #130
@sratwani I think you mean

this task is essential for the completion of
[Running an 'Oncology Drug Regimen Extraction Challenge’](https://github.com/OHDSI/OncologyWG/milestone/6)

[2019-10-23 19:56] sratwani commented on #116
Jeremy can be utilized to establish validation process/strategy. Our validation process would help inform him where the gaps are. So not only validating how well it works, also validate where it fails. Essentially, identifying the limitations for further improvement.

[2019-10-23 23:41] patelm9 commented on #172
Jeremy,

This is fantastic. Thank you for the input!

Meera Y. Patel, MD
Sr. Ontologist & Knowledge Representation Analyst
Division of Health Informatics | Knowledge Management & Innovation
Memorial Sloan Kettering Cancer Center
600 Third Avenue, 8th Floor, New York, NY 10017
(646) 888-8953 | PatelM9@mskcc.org

From: Jeremy L. Warner MD, MS <notifications@github.com>
Sent: Wednesday, October 23, 2

[2019-10-24 00:27] patelm9 commented on #137
@mgurley Good point. I think this is a compelling question that really needs to be answered ASAP. @chandryou If we can get a good case for the reason why this extension is needed, that would be great. For example, why doesn't throwing this data in the observations/measurements table work for genomics data? Why do we need these extra tables?

@sratwani I think this is something that should be addre

[2019-10-24 13:21] mgurley commented on #81
@dimshitc I agree that the following should be non-standard Observation.

concept_id | concept_name | concept_code
-- | -- | --
35918787 | CS Version Input Original | 2935
35918741 | CS Version Derived | 2936
35918293 | CS Version Input Current | 2937

I think the following should be Measurement standard.   Remember, most of these NAACCR items are modifying tumor characteristics.  And we added 'mo

[2019-10-24 14:52] dimshitc commented on #81
all of them - make non standard Observation

[2019-10-24 15:51] rtmill opened #176 "Add missing 'ICDO to Schema' relationships"
I noticed in our data there are a few ICDO3 condition concepts that are frequent in the data but do not have a mapping to a schema in the vocabularies. Can these relationships be added?

condition_concept_code | condition_concept_id | schema_concept_code | schema_concept_id
-- | -- | -- | --
9732/3-C42.1 | 44500967 | plasma_cell_myeloma | 35909779
9823/3-C42.1 | 44504688 | lymphoma_cll_sll | 35909

[2019-10-25 02:56] jeremywarner commented on #116
Sounds good to me!

Jeremy L. Warner MD, MS, FAMIA
Associate Professor of Medicine and Biomedical Informatics at Vanderbilt University
Medical Director, Vanderbilt Cancer Registry
Chair, AMIA Visual Analytics Work Group
Deputy Editor, HemOnc.org

Shaina McKenzie
Lead Administrative Assistant
shaina.e.mckenzie@vumc.org
615-936-3524

From: sratwani <notifications@github.com>
Reply-To: OHDSI/Oncology

[2019-10-25 11:24] mgurley commented on #134
See here for more related prior/ongoing work: http://icaredata.org/

[2019-10-25 11:25] mgurley commented on #123
See here for how mCode does it: http://standardhealthrecord.org/guides/mcode/#Outcomes

[2019-10-25 14:35] sratwani commented on #172
@patelm9 @chandryou Is this use case from Jeremy a good one to evaluate? If "yes", do we have the data to run this study against?

[2019-10-26 00:21] sratwani opened #177 "Investigate effort to add ambiguous ICDO site/histology combinations to the vocabulary instead of stand-along tables"
Currently the code created adds the ambiguous ICDO site/histology combinations to a stand-alone table. The goal is to add it to the vocabulary.

[2019-10-26 00:42] cgreich commented on #172
Different problem. We first collect the questions we would like to be able to ask. Then we match it to data.

[2019-10-26 00:50] cgreich commented on #172
Questions (somewhat of a generalization of Ruinstein's questions):

1. Prognosis: What's the relative mortality in patients with cancer XYZ and positive marker 123 vs wild-type (negative marker)?
2. Treatment effect: What's the relative disease free survival in patients with cancer XYZ treated with ABC and positive marker 123 vs wild-type?
3. Other outcomes: What's the relative risk of secondary m

[2019-10-28 00:08] chandryou commented on #172
My use case:
'Developing machine learning model(patient-level prediction) to predict recurrence of breast cancer after 5 years after completion of the treatment based on clinical information and tumor variants. '

[2019-10-28 07:18] cgreich commented on #134
Not much content on the website. The website is a lot better than ours though.

[2019-10-28 15:32] mgurley commented on #172
Here is a brand new paper that might server as a target to try to replicate:

https://www.nature.com/articles/s41586-019-1689-y#Sec8

[2019-10-28 17:18] dimshitc commented on #67
About 1 third of the data have empty histology code and filled site code.
We can't treat  ICD-O-3 topgraphy codes as ICD10CM. Right.
But we can map them to SNOMED, for example C61.9 "Prostate gland", histology = null
can be mapped to 4129902 Neoplasm of prostate.
We need to distinguish this from just a topography concept C61.9. So, adding 9999/9 as a histology seems to be good.

[2019-10-28 19:43] cgreich commented on #67
can be mapped to 4129902 Neoplasm of prostate.

Exactly. That's what I meant.

Don't understand. That SNOMED concept needs to be distinguished from an ICD-O-3 concept, and the way to do it is to add some null-flavory 9999/9?

[2019-10-28 23:38] sratwani commented on #153
Based on the 10/22 call, Andrew to reach out to NAACCR in the next month and find out if they have any mapping plans and figure out if there is a possibility to piggy back on it.

[2019-10-28 23:42] sratwani opened #178 "Work with SEER/NCI/ASCO to incorporate/sync their vocabularies into OMOP."
Based on 10/22 Leadership discussion, Andrew to reach out to SEER to understand the NAACCR-SEER relationship and how we can leverage them to map NAACCR to the standard vocabulary (Andrew to work with Eric Durman)

[2019-10-28 23:47] sratwani opened #179 "Evaluation of Nebraska Lexicon"
Based on the 10/22 Leadership Subgroup discussion, there is a need to perform an evaluation of Nebraska Lexicon to identify gaps, propose a solution that will work for them and expedite the process of aligning NAACCR and CAP.

[2019-10-28 23:49] sratwani commented on #154
Based on the 10/22 Leadership Subgroup call, a decision was made to reach out to CAP and Campbells (Nebraska Lexicon), share our proposal with them (based on our evaluation of Nebraska Lexicon) to expedite their mapping efforts and formalize our relationships.

[2019-10-28 23:49] sratwani commented on #154
Based on the 10/22 Leadership Subgroup call, a decision was made to reach out to CAP and Campbells (Nebraska Lexicon), share our proposal with them (based on our evaluation of Nebraska Lexicon) to expedite their mapping efforts and formalize our relationships.

[2019-10-28 23:53] sratwani opened #180 "Evaluate the mCode model"
Based on the 10/22 Leadership Subgroup call, it was decided that an evaluation needs to be done of the mCode model, look at their clinical and genomic data model, identify what's useful for us. At the same time, we have to make friends with them, propose to execute their model with our use cases with retrospective data, developer a crosswalk for interoperability.

[2019-10-28 23:56] sratwani commented on #155
Based on the 10/22 Leadership Subgroup call, it was decided that Rimma will arrange a meeting with IMO (include Christian; 2nd week of November) to discuss our proposal with them and possibly recruit them to do vocabulary mapping work for us.

[2019-10-29 00:29] cgreich commented on #172
Niccccce. But again, this is the other extreme of cancer research: Very limited phenotype (more or less our "schemas"), and very deep sequencing. We need to decide if that's what we want to tackle first, or whether we start with the panels of known tumor drivers.

[2019-10-29 01:28] sratwani opened #181 "Use Case and Data source repository building"
This issue is used to intake information from participants that wish to contribute their data for the Oncology CDM Extension efforts so use cases/research studies can be run against the data. Please provide the below information if you wish to contribute.

1) Site Name
2) Registry [e.g NAACCR, Free text, ….]
3) EHR [e.g General purpose, Oncology-specific]
4) Trial [e.g STDM, AdAM, EPIC-BEACON, Oth

[2019-10-29 11:23] dimshitc commented on #67
I meant we need to distingiush ICDO 'C61.9' as a topography and ICDO 'C61.9' as a disorider.
But we don't need to create separate concepts for this.
We need to build different relationships instead:
ICDO 'C61.9'  Maps to 4129902 Neoplasm of prostate (disorder)
ICDO 'C61.9' 'ICDO - SNOMED' Structure of prostatic gland (body site)

We also discovered histologies without topography in the data, so it

[2019-10-29 11:57] mgurley commented on #67
So from an ETL perspective, if in my NAACCR data I only have a 'C61.9' with a blank histology, is the instruction to tell me to replace my blank histology with '9999/9', so I get the following paring ICDO histology/site '9999/9-C61.9'.  This will map to an 'Condition' concept with concept_class_id = 'ICDO Condition' in the OMOP vocabulary with a concept_code='9999/9-C61.9', which will be standard

[2019-10-29 14:02] dimshitc commented on #67
My last message was about not to add '9999/9'. Just keep 'C61.9'.
1. To identify site specific concepts in this case NAACCR we'll have :
Prostate (NAACCR Schema) - 'Schema to ICDO' - 'C61.9'
and [histology_site ](https://github.com/OHDSI/OncologyWG/blob/master/etl/naaccr_etl.sql#L21)in this case ='C61.9'

2. To fill the CONDITION you use this mapping

[2019-10-29 14:43] dimshitc commented on #67
And as we're going to map ICDO attributes to SNOMED Condition, we have to change ICDO site and histology domain into 'Condition' to avoid confusion when source and target concepts have different domains.

[2019-10-29 20:28] sratwani opened #182 "Work with AJCC for all versions of staging variables"
In an attempt to get a complete NAACCR data dictionary including the possible values for site-specific items and because our historical data covers multiple AJCC editions, we need a machine-parseable list of TNM (Clincal and Pathological) staging variable (SEER API only supports TNM 7th edition of UICC Staging) possible values for each anatomic site across all versions of AJCC and or UICC.
Michael

[2019-10-29 20:39] sratwani commented on #115
Per the call on 10/23, Chan offered running the algorithm on their data.
Michael (Northwestern data), Robert (TUFTS), Columbia are potential data partners that could run existing algorithm against their data.

[2019-10-29 20:50] sratwani commented on #168
@AEW0330 is the idea to gather the information/categories you proposed above in the form of a table and publishing it somewhere on the OHDSI website? Who is the audience of this type of information?

[2019-10-29 21:02] sratwani commented on #164
There is documentation on how to run the scripts. @ansi90 will document steps to test the algorithm.

[2019-10-29 21:03] sratwani commented on #115
Per the call on 10/23, MSKCC is in the process of converting Medications data to OMOP (timeframe is 2 months), they should be able to run the algorithm and validate it against their data.

[2019-10-30 01:41] cgreich commented on #67
@dimshitc: You shouldn't map a Observation Concept (Topology) to a Condition Concept. Instead, you need to create "NULL-C61.9" or "-61.9" combo concepts, that you then can map to the 4129902 Neoplasm of prostate (disorder).

[2019-10-30 11:14] sratwani opened #183 "Solicit running of oncology drug regimen derivation algorithms"

[2019-10-30 11:17] sratwani commented on #164
@ansi90 in the process of soliciting development of oncology drug regimen from the community, is there anything specific that we need to include in our request so we gain access to the right kind of audience and data.

[2019-10-30 11:18] sratwani commented on #183
@ansi90 in the process of soliciting participants to run the oncology drug regimen algorithm, is there anything specific that we need to include in our request so we gain access to the right kind of audience and data.

[2019-10-30 11:28] dimshitc commented on #67
Instead of '9999/9-C61.9' (in the initial request) we create 'NULL-C61.9' concept. I'm Ok with that. @mgurley ?

[2019-10-30 11:43] mgurley commented on #67
@dimshitc
Yea that seems good to me.

[2019-10-30 16:31] #94 closed

[2019-10-30 16:34] #79 closed

[2019-10-30 16:34] #78 closed

[2019-10-30 16:37] #151 closed

[2019-10-30 16:57] #81 closed

[2019-10-30 17:41] dimshitc commented on #71
In the last CDM/Vocabulary meeting was decided that we keep 'Variable has date' relationship to both 1210 (RX DATE RADIATION) and 3220 (RX DATE RAD ENDED). Then ETL puts earliest date as a start_date, and latest - as an end date.

[2019-10-31 10:43] mgurley commented on #134
See here for Flatiron's prior work on tracking disease progression:
https://flatiron.com/blog/is-the-cancer-better-or-worse/

[2019-10-31 19:26] patelm9 commented on #172
I agree with @cgreich. We need a list of concrete genomics concepts such as "BRCA1" that we would need to answer a research question.

[2019-10-31 19:31] patelm9 commented on #173
**So far, I have identified the following vocabularies that are out there:**
-LOINC: for genomics test results HL7 FHIR uses US core LOINC with CLASSTYPE = 1
-NCBI's Genetic Test Registry: for gap coverage for genomics concepts not covered by LOINC, HL7 defers to GTR
-Human Genome nomenclature committee https://www.genenames.org/about/guidelines/
-Human Genome Variation Society for Variant data: h

[2019-10-31 19:58] patelm9 commented on #135
I also posted this in a Genomics subgroup:

[2019-10-31 20:49] patelm9 commented on #181
Use Cases from the Genomics Subgroup can be found in this issue: https://github.com/OHDSI/OncologyWG/issues/172#issue-509619553

[2019-10-31 20:56] sratwani commented on #113
Per the 10/31 call, Dima's testing of the query revealed that we end up with several Value concepts for same ICDO-naaccr_item-code combination because ICDO codes drive to different schemes. To avoid this Dima will take all ICDO to Schemes from CS algorithm and take ICDO codes missing from CS algorithm from EOD. This was there wont be anymore ambiguous code besides the 13. Next steps will be to (1)

[2019-10-31 21:22] sratwani opened #185 "Create a poster to demonstrate what has been done in terms of adding the relationships"
The Vocabulary group has done a lot of work to add relationships (e.g 'Variable has end date') that should have been there but not explicitly expressed. The fact that it simplifies ETL and understanding of the data is the goal of this effort. Any future modeling changes will need approval from the community and expected to be handled by the modeling group. Rima is working on a poster on what we ha

[2019-10-31 21:31] jeremywarner commented on #135
Hi Meera,

In the spirit of not re-inventing too many wheels, please have a look at this spreadsheet that I’ve assembled over the years (not sure if attachments go through to the listserv; if they do not, email me directly and I’ll send you a copy). Pertinent to genomics, there are 39+ terminologies with gene or gene alteration data, 29+ with protein or protein pathway data, and more. Note there’s

[2019-10-31 21:37] sratwani opened #186 "Implement the use of the new relationship 'Variable has end date' in the ETL"
Per the 10/31 meeting, it was discussed that once #71 is complete, the development subgroup will implement this new relationship in the ETL.

[2019-10-31 21:52] patelm9 commented on #135
Hey Jeremy,

This is amazing and exactly what I’m looking for! The attachment didn’t come through though. Could you send it over via email?

Meera Y. Patel, MD
Sr. Ontologist & Knowledge Representation Analyst
Division of Health Informatics | Knowledge Management & Innovation
Memorial Sloan Kettering Cancer Center
600 Third Avenue, 8th Floor, New York, NY 10017
(646) 888-8953 | PatelM9@mskcc.org

[2019-11-01 00:05] patelm9 commented on #173
@jeremywarner shared with me that he has been centralizing terminologies over time. I will post to the repo to discuss its application as soon as I receive a copy.

[2019-11-01 13:43] meerapatelmd opened #187 "Post TCGA data for discussion and exploration"
A genomics/ directory with vocabulary/ and data_model/ subdirs has been created to start the information gathering process. TCGA and all other vocabularies should be posted to vocabulary/ for our review after it becomes available.

[2019-11-01 14:37] meerapatelmd opened #188 "Provide overview of mCode's genomic model and how it compares to the present G-CDM"

[2019-11-01 16:44] patelm9 commented on #114
Uploaded the latest version "oncoSurvivalPlotterV2" package to this repo. A few sub-issues:
-Run these scripts in a sandbox environment to see how they perform with test data
-Integrate the functions with the SQL output (Rimma's SQL script). We may be able to integrate the entire data pull in the package.
-Make the arguments for functions and ggplot2 and survival package more flexible for the end-

[2019-11-02 01:38] chandryou commented on #114
Thank you @patelm9
I and @neal1202 will take a look at it and figure out how to integrate SQL within this package. :)

[2019-11-02 12:41] #175 closed

[2019-11-04 10:42] dimshitc commented on #71
31 Oct we decided to use 'Variable has start date' for earliest date, 'Variable has end date' for latest date.

[2019-11-04 11:01] dimshitc commented on #113
1) vocabulary is updated.

[2019-11-04 22:35] sratwani opened #192 "Work with Nebraska Lexicon and establish a proposal to collaborate"
Per the Leadership call on 10/22, it was decided to reach out to NL, share our proposal with them based on our evaluation of them, propose to expedite their mapping efforts and formalize our relationships. (Rimma and Christian will drive this effort)

[2019-11-05 15:05] dimshitc opened #193 "build relationships 'ICDO to schema' for 'NULL-XXX' scheme"
after we done #67
we have to add  'NULL-XXX'  to NAACCR Schema

[2019-11-05 18:30] sratwani commented on #186
Dependent on [Issue # 71](https://github.com/OHDSI/OncologyWG/issues/71)

[2019-11-05 19:33] sratwani commented on #113
@mgurley @rtmill Since the vocabulary is now updated with the corrections, the next step is to change the NAACCR ETL code to incorporate the changes.

[2019-11-05 19:36] sratwani commented on #115
@chandryou @ansi90  Chan, could you please provide a status on running the algorithm against your data. I believe Anastasios has provided you the instructions and steps to do the same.

[2019-11-05 19:41] sratwani commented on #166
Relates to [Issue 113](https://github.com/OHDSI/OncologyWG/issues/113)

[2019-11-06 08:58] lucid0921 opened #194 "TCGA genomic and clinical data 'Multiple Myeloma (Broad, Cancer Cell 2014)'"
Hi, after our meeting last week, I downloaded the TCGA genomic and clinical data of patients with Multiple Myeloma (Broad, Cancer Cell 2014).

The data have whole-exome or whole-genome sequencing of 203 multiple myeloma paired tumor/normal sample pairs.

I re-stored some txt files to xlsx files for easy review.

[Share folder of downloaded data](https://drive.google.com/open?id=1tzTxaQg4UhDebTYPxI

[2019-11-06 12:28] dimshitc opened #195 "add leading zeroes for Races Values"
http://datadictionary.naaccr.org/default.aspx?c=10#160
see, it has codes with trailing zero.
but we have 160@1, 160@2, 160@3, 160@4 etc.
Need to make 160@01, 160@02, 160@03, 160@04

[2019-11-06 13:13] sratwani commented on #115
Below post has been submitted to solicit participation:

https://forums.ohdsi.org/t/oncology-wg-inviting-participants-with-ehr-data-to-run-the-oncoregimenfinder-script/8485

[2019-11-06 18:21] andrequina commented on #180
We would be happy to discuss mCODE with you if you're interested. I am one of the leads for MITRE's work in developing mCODE. https://mcodeinitiative.org/

You can email me if you're interested in connecting: aquina at mitre dot org

[2019-11-06 22:10] sratwani commented on #113
@dimshitc Can this issue be closed. I have another [Issue 166](https://github.com/OHDSI/OncologyWG/issues/166) track the Development work.

[2019-11-06 22:21] sratwani commented on #110
Per the discussion on 10/31, @rimusia will work on this as a modeling task. There were some discussions around whether we want to use NAACCR data (Death, survival date etc) to enhance our OMOP (observation end period etc). The group was leaning towards doing that as a secondary ETL if this enhancement was needed to obtain this additional information.

[2019-11-06 22:24] sratwani commented on #71
Per the 10/31 discussion, Team agreed that this task (one relationship) will be completed by Dima. We are essentially adding relationships that should have been there but not explicitly expressed. The fact that it simplifies ETL and understanding of the data is the goal of this effort. This is where we will draw the line and any other work related to the relationships will be handled by the modeli

[2019-11-06 22:27] sratwani opened #196 "Engagement with the Modeling Team"
Per the 10/31 CDM/Vocabulary discussion and follow-up to [issue #71](https://github.com/OHDSI/OncologyWG/issues/71) Team agreed that any work related to the relationships will be handled by the modeling team. Rima is working on a poster on what we have done so far and will work on a paper to introduce the community so we can engage them and receive input on how to approach this.

[2019-11-06 22:39] sratwani commented on #196
Duplicate [Issue 185](https://github.com/OHDSI/OncologyWG/issues/185)

[2019-11-06 22:39] #196 closed

[2019-11-06 23:16] rimusia commented on #180
Hi Andre,

We have met at the Cancer Data Summit. Thank you for offering this help to our team. It would be great if you could give the Oncology Modeling WG an overview of the mCODE. We are especially interested in the domains that we have not covered yet, Outcomes and Genomics. We also would like to understand the rationale behind choosing standard terminologies for each domain. Finally, we'd lik

[2019-11-06 23:48] sratwani opened #197 "mCODE review"

[2019-11-07 00:27] sratwani commented on #122
This task is complete. Michael presented the framework on 11/6.
NAACCR ETL SQL can be found in the [link](https://github.com/OHDSI/OncologyWG/tree/master/etl)
Link includes:
Ruby on Rails application used to setup a testing framework.
Instructions on how to get it up and running.
Instructions on preparing the testing environment.

[2019-11-07 00:27] #122 closed

[2019-11-07 00:46] sratwani opened #198 "Write unit tests fo NAACCR ETL SQL."
Refer to (https://github.com/OHDSI/OncologyWG/issues/122) to obtain the framework and instructions on how to get the code and testing environment setup.
Acceptance criteria for this issue is as below (What does completion look like)
* Write unit tests that verify: given appropriate entries in the NAACCR input table, only expected entries are placed in the OMOP CDM.  Across the major types of entit

[2019-11-07 01:33] sratwani commented on #152
Dave Sonnett has volunteered to take on this task. @mgurley could you please add Dave to the Oncology WG on the Git.

[2019-11-07 01:38] sratwani commented on #158
Rimma's team might be able to contribute to this task soon with quality checks for breast cancer data although not specific to OMOP format. Left this in the to-do column for other volunteers to contribute to this effort.

[2019-11-07 01:40] sratwani commented on #111
This is dependent on the modeling task. A decision is pending on whether this should be a part of the vital status. @rimusia is working on it and will get back to us on an update.

[2019-11-07 01:45] sratwani opened #199 "Translate NAACCR ETL SQL to different dialects"
Assigning it to Michael and Robert for now until Dave Sonnet gets added to the Git. Dave has volunteered to work on this task.

[2019-11-07 01:56] sratwani commented on #114
@patelm9 and @chandryou could either of you define what the definition of complete would be for this particular task? In other words, what needs to be done to complete this task.

[2019-11-07 01:59] meerawhy commented on #114
To me, this means that it is a full functional standalone package the
end-users can easily download and use to execute the plots we used for the
symposium along with being able to customize some aspects of the plot such
as scale and labels since those can be thrown off by data variability
between institutions.

Sent from a Google Pixel

On Wed, Nov 6, 2019, 8:56 PM sratwani <notifications@github.c

[2019-11-07 02:13] meerawhy commented on #180
Ditto. I was planning on giving a brief overview of what I have understood
about the genomics side of mCode for our meeting this Friday 9am EST. It
may be more high yield for Andre to present and to answer questions so we
can assess overlaps and get the info straight from the source.

Sent from a Google Pixel

On Wed, Nov 6, 2019, 6:16 PM rimusia <notifications@github.com> wrote:

[2019-11-07 12:17] mgurley commented on #199
Consider using

- https://github.com/OHDSI/SqlRender
- https://github.com/dmtolpeko/sqlines

[2019-11-07 13:07] mgurley commented on #110
I believe we should do this in the main NAACCR ETL.  Not a secondary ETL.  A little background on how NAACCR encodes last followup date and death date.  There are two relevant NAACCR fields
- DATE OF LAST CONTACT: http://datadictionary.naaccr.org/default.aspx?c=10#1750
- VITAL STATUS: http://datadictionary.naaccr.org/default.aspx?c=10#1760

If 'VITAL STATUS'=0, then the date in 'DATE OF LAST CONTA

[2019-11-07 14:39] cgreich commented on #110
My $0.02: As you know, my affinity to the NAACCR is low, since I don't have the data, and neither have most data owners in the world. But still, support what you are doing.

And yes, death should be dealt with according to OMOP standards. But last contact: Wouldn't that be a visit?

[2019-11-07 14:58] mgurley commented on #110
@cgreich

For last contact, I am OK with creating a visit, and was actually going to propose that possibly.   However, not sure it technically falls into that definition of visit.  These last contact dates are often dine via telephone calls from the tumor registry to the patient's home.  But if we think it can fit into VISIT_OCCURRENCE, I am all for it.  Many research/registry patients will have s

[2019-11-07 16:04] cgreich commented on #110
I see. Makes sense.

[2019-11-07 16:07] cgreich commented on #199
Don't just consider. This is the way we ought to do it. Not that difficult, really.

[2019-11-07 16:45] cgreich commented on #123
Sounds to me like we need:

And the convention is that after the statement of any of these three it stays the same, until another one overwrites it. We could also check for some logic. For example, you cannot have Remission - Progression - Remission, unless there is a treatment in between.

Not sure what that would be. We may want to think about "palliative care".

Looks like they are using "physi

[2019-11-07 16:51] cgreich commented on #128
Let's close this and move the discussion to [144](https://github.com/OHDSI/OncologyWG/issues/144).

[2019-11-07 16:52] cgreich commented on #123
Actually, let's close this discussion and move it to [144](https://github.com/OHDSI/OncologyWG/issues/144).

[2019-11-07 17:04] cgreich commented on #144
@jeremywarner:

This makes a lot of sense. So, all we would have to do is to use some heuristic, or some probabilistic method once we have it, and decide when the disease toggles from getting better (progressive, treatment discontinued) to turning worse (new treatment, remission). In fact, stable disease becomes really the absence of either of the two.

From an analytic perspective, this is clean.

[2019-11-07 22:16] patelm9 commented on #197
@rimusia @sratwani
I reached out to Andre to see if we would be able to schedule a presentation on the genomics piece of mCode at an upcoming Genomics Subgroup meeting.

[2019-11-07 22:40] jeremywarner commented on #144
This is essentially what the PRISSMM model is doing. Which community were you referring to? Various communities are piloting the PRISSMM model, including NCI SEER.

Best,
Jeremy

Jeremy L. Warner MD, MS, FAMIA
Associate Professor of Medicine and Biomedical Informatics at Vanderbilt University
Medical Director, Vanderbilt Cancer Registry
Chair, AMIA Visual Analytics Work Group
Deputy Editor, HemOnc

[2019-11-08 00:24] cgreich commented on #144
Well, the oncology community. People who think there are half a dozen states of the disease.

[2019-11-08 02:13] sratwani commented on #113
Vocabulary work is complete. Development effort is being tracked with [Issue 166](https://github.com/OHDSI/OncologyWG/issues/166)

[2019-11-08 02:13] #113 closed

[2019-11-08 02:36] sratwani opened #200 "Create documentation for the ICDO concept decisions"
Per the meeting on 11/7 and following the completion of tasks [#67](https://github.com/OHDSI/OncologyWG/issues/67), [#146](https://github.com/OHDSI/OncologyWG/issues/146), [#176](https://github.com/OHDSI/OncologyWG/issues/176), Rimma recommended that we add documentation for the ICD0 concept decisions.

[2019-11-08 13:50] sratwani opened #201 "Review MMRF Use Case"

[2019-11-08 13:51] sratwani opened #202 "Review breast cancer use case from MSKCC"

[2019-11-08 15:08] crabcakeworld commented on #73
The script for this is pretty much done. However, one issue is pending on the community decision. Since these are "did not happen" treatment, most likely the NAACCR source data do not provide  date for these values. But Observation_date field is a required field. So what date should we put in there? Michael suggests to use date of diagnosis.  I would like to get an agreement on this from other lea

[2019-11-09 01:00] jeremywarner commented on #73
The decision not to treat is often made at some time later than diagnosis. For example, a patient with early stage breast cancer may undergo surgery and then decide to forego adjuvant therapy, or they may undergo surgery and adjuvant therapy and decide to forego radiation therapy, etc. In order to accommodate this “gray zone”  in the DeepPhe information model, we have adopted the concept of a medi

[2019-11-12 01:00] sratwani commented on #164
[Forum Post](https://forums.ohdsi.org/t/inviting-participation-in-the-creation-of-the-oncology-drug-regimen-algorithm/8538) has been submitted to solicit participation.

[2019-11-12 02:17] cgreich commented on #73
WEll, then let's not call it "Did not happen", but "Decision making" or so. "Did not happen" will create gazillion confusions.

But I still not get it. We have "Initial diagnosis". Why can't we continue that Episode till the treatment starts?

[2019-11-12 03:17] jeremywarner commented on #73
In the DeepPhe episodes model, we declare that the diagnostic episode is over once all the diagnostic and staging procedures are completed. Copying Harry and Guergana in case they’d like to weigh in further about the thought process behind distinguishing this from medical decision making.

Best,
Jeremy

Jeremy L. Warner MD, MS, FAMIA
Associate Professor of Medicine and Biomedical Informatics at Va

[2019-11-12 03:33] jeremywarner commented on #73
Jeremy,

our annotation guidelines state that medical decision making includes  "Any documents that discuss potential treatments after a diagnosis has been made”. We also explicitly state that treatment and diagnosis can co-occur. Thus, it seems that we could be in a diagnosis episode until treatment starts, if there is no discussion of potential treatments.

Guergana, does that sound right?

-har

[2019-11-13 15:40] andrequina commented on #180
Meera,

Looks like you're connected with May Terry who is ideal to present the details of the mCODE model.

If you need anything else on mCODE please feel free to reach out.

[2019-11-13 16:17] denyskaduk commented on #71
We create new relationship 'Has start date' and 'Has end date'.

[2019-11-13 20:13] sratwani commented on #158
Maxim and Claire have created data quality checks and could be approached for best practice creation. Could invite them to walk us through their data quality checks in the future.

[2019-11-13 20:30] sratwani opened #205 "Fix NAACCR ETL for 'unknown histology'"
This task is to make sure the ETL works with the ICD-O concept created for 'unknown histology' [issue # 67](https://github.com/OHDSI/OncologyWG/issues/67).

[2019-11-15 12:24] dimshitc commented on #110
@sratwani why is it moved to Done?

[2019-11-15 12:34] mgurley commented on #110
@dimshitc

There was no vocabulary work.  Just modelling work.  Remember, this is Vocabulary **and Modelling** Workgroup.  The workgroup made a modelling decision where and how these NAACCR data points would fit into the CDM.  This decision required no vocabulary additions.  Now there is a task for the Development Workgroup to implement the **modelling** decision.  Make sense?

[2019-11-15 13:00] lucid0921 commented on #173
HGVS rule is explained in this page(http://varnomen.hgvs.org/) and we can reference it when doing ETL variant into Genomic-CDM.

[2019-11-15 13:09] lucid0921 commented on #173
Some controlled vocabulary system can be used in genomic-CDM but in ATHENA there is in short of concept_ids to cover them.

I share [a pdf file](https://drive.google.com/open?id=1bB2e_Q2wzcv6xxMb8mOin2fuPCbCzdJF) that summary of vocabulary we need. The contents had presented briefly in a face-to-face meeting at the 2018 OHDSI Symposium in Washington.

![image](https://user-images.githubusercontent

[2019-11-15 13:18] lucid0921 commented on #202
In TCGA, [many NGS datasets of patients with breast cancer](http://www.cbioportal.org/) were uploaded.
If the use case is set up in a working group, we'll download some of them and convert to genomic CDM for study.

![image](https://user-images.githubusercontent.com/34934336/68946249-d4fdb480-07f5-11ea-8124-4db478d89445.png)

[2019-11-16 16:38] cgreich commented on #73
@jeremywarner:

Hm. I am thinking. This is a slippery slope. The OMOP CDM captures facts that happen to the patient, or in direct context of patient care. A thought process of a physician is not something that happens to a patient. So, I would suggest to omit all sorts of "Can't make up our minds" or "Considered, but decided otherwise" concepts that then are the foundation of Disease Episodes of t

[2019-11-16 22:41] jeremywarner commented on #73
You are right of course (about the slippery slope).

Stepping back for a second, there are a number of NAACCR elements that are geared toward the general theme of “we suggested that the patient receive X or Y therapy, but they refused it”. These are meant to be distinguished from the “we wanted the patient to get the treatment but something happened before they could (e.g., they died)” or “we did

[2019-11-17 15:20] cgreich commented on #73
Usually, those are the outcomes of OHDSI type research. So, if a patient doesn't get treated or does - we capture that from the data. For example, NAACCR value 35941582 700@85 "Chemotherapy was not administered because the patient died prior to planned or recommended therapy." If we have a death record we don't need a Concept with this logical assertion. If we don't have a death record - now is th

[2019-11-19 22:06] sratwani commented on #110
Closing as this has a Development issue .

[2019-11-19 22:06] #110 closed

[2019-11-20 01:08] ParkYouJin commented on #171
_**A Rigorous Global Observation System for burden of diseases (ARGOS)**_
1. **Organization** : Ajou University
2. **Name** : Youjin Park, **Email** : dbwls5223@ajou.ac.kr
3. **Objectives** :
- To assess disease burden and economic burden of cancer
   - To monitor cancer disease burden over OHDSI community by assessing
      - Temporal trend in incidence
      - Incidence according to age, gender,

[2019-11-20 13:01] sratwani commented on #114
@meerawhy Thanks for providing the completion criteria. Could you provide any update on this. Not sure if you plan to be on the Development call today.

[2019-11-20 13:09] denyskaduk commented on #193
If we look only at site, we see that one 'ICDO Condition' can have multiple schemas. For example: C50.9 - 'Malignant neoplasm of breast of unspecified site' can have 5 schemas:

schema_id | relationship | concept_code | concept_name
-- | -- | -- | --
breast | Schema to ICDO | NULL-C50.9 | Neoplasm defined only by topography: Breast, NOS
myeloma_plasma_cell_disorder | Schema to ICDO | NULL-C50.9 |

[2019-11-22 02:38] patelm9 commented on #114
We need the original SQL script that was written to generate the data to input into this package. We can integrate it into the package itself. Then we can clean up the aesthetics of the package and it should be good to go from there.

[2019-11-22 08:40] lucid0921 commented on #202
I reviewed Targeted sequencing data of patients with Breast cancer in TCGA.

![image](https://user-images.githubusercontent.com/34934336/69408377-120ffc80-0d4a-11ea-8187-007089fe86e2.png)
Related paper: https://www.ncbi.nlm.nih.gov/pubmed/30205045
Quick summary page: http://www.cbioportal.org/study/summary?id=breast_msk_2018

| # | File name | nrow | ncol | description |
|:---:|:---:|:---:|:---:|:

[2019-11-22 23:42] meerawhy commented on #180
Hey Andre,

Apologies for the delay in response. I wanted to say thanks for connecting
us to May. We look forward to learning how best to collaborate on this
monumental project.

Meera

On Wed, Nov 13, 2019 at 10:40 AM Andre Quina <notifications@github.com>
wrote:

--
Meera Y. Patel, MD

[2019-11-23 00:17] patelm9 commented on #114
Update: found the SQL and just pushed it to the repo. I will integrate with the rest of the package in due time.

[2019-11-23 10:05] mgurley commented on #114
@patelm9

I had placed the SQL from the symposium here: https://github.com/OHDSI/OncologyWG/tree/master/analysis.

[2019-11-26 11:23] dimshitc commented on #193
@mgurley @cgreich @rimusia
please confirm the logic of schema definition for NULL-XXX concepts.
We link them to organ-specific schema only.
i.e.
NULL-C50.9 -> breast
(Technically NULL can mean Lymphoma as well, but we're omitting this).

[2019-11-26 20:36] patelm9 commented on #172
Issue #202 is a child issue. @lucid0921, Could you create a use case from the Breast Cancer data you posted in #202 for an upcoming meeting for us to go over?

[2019-11-26 22:04] patelm9 commented on #114
@mgurley Thanks so much. Given that there aren't fires I need to put out otherwise, I'll be able to integrate the SQL into the package and give the newest version a test run.

[2019-11-27 00:24] lucid0921 commented on #172
Okay, I'll try it.

Have a great Thanksgiving day :)

Seojeong

2019년 11월 27일 (수) 오전 5:36, Meera Y. Patel, MD <notifications@github.com>님이
작성:

[2019-11-27 01:14] meerawhy commented on #172
@lucid0921, sounds wonderful! I'll followup on this next week to see where
we are at. I know the time difference can be problematic, but we can always
touch base on this before an upcoming meeting if there are any issues.

On Tue, Nov 26, 2019 at 7:24 PM Seojeong Shin <notifications@github.com>
wrote:

--
Meera Y. Patel, MD

[2019-11-27 14:37] #146 closed

[2019-11-27 14:38] #71 closed

[2019-11-27 14:38] #67 closed

[2019-11-27 14:41] dimshitc opened #207 "Improve ICDO to SNOMED relationships"
The hierarchy is innaccurate in the latest ICDO release.
Needs to be fixed.

[2019-12-02 12:31] dimshitc opened #208 "wrong NAACCR Value names"
wrong Value names
1880@17 | Both local and trocar recurrence of an
1880@36 | Both regional recurrence of an
see correct here:
http://datadictionary.naaccr.org/default.aspx?c=10#1880

[2019-12-03 11:53] mgurley opened #209 "Truncate the the population of naaccr_data_points_tmp.naaccr_item_value to 255 characters."

[2019-12-03 11:59] mgurley opened #210 "Remove hardcode flitering of naaccr_data_points_tmp based on naaccr_data_points_tmp.naaccr_item_value < 10."

[2019-12-03 12:03] mgurley opened #211 "Fix reference to 'naaccr_data_points' to 'naaccr_data_points_tmp'."

[2019-12-03 12:44] mgurley opened #212 "Filter update filter of naaccr_data_points_tmp based to not include date fields."

[2019-12-03 12:58] mgurley opened #213 "Change '_concept_id' data types from BIGINT to INT."

[2019-12-03 14:23] sratwani commented on #166
Completed development and commit. Will reach out to Rimma and others for testing.

[2019-12-03 14:23] #166 closed

[2019-12-03 16:29] MelaniePhilofsky commented on #63
@mgurley What was the resolution to making the EPISODE.episode_end_datetime nullable? It is still required in Postgres and nullable in RedShift.

[2019-12-03 18:44] #186 closed

[2019-12-03 18:44] #209 closed

[2019-12-03 18:44] #210 closed

[2019-12-03 18:44] #211 closed

[2019-12-03 18:44] #212 closed

[2019-12-03 18:44] #213 closed

[2019-12-04 15:47] rtmill opened #215 "Change all BIGINT to INT"
Robert:
"Christian : Did we revert back to INT for all concept_id fields? I remember a push to make them all BIGINT but the new documentation shows INT. "

Christian:
"Yeah. All the DDL types are minima. You can always go bigger. Right now, INT gives us a little more than 2 Billion concept IDs. All vocabs together need around 5M. So, we are still good for quite a while."

[2019-12-05 14:37] mgurley commented on #63
@MelaniePhilofsky

It should be NULLABLE across the board on all platforms.  See the latest DDL here:
https://github.com/OHDSI/OncologyWG/tree/master/ddl

I think they are consistent.

We have another issue to get the extension tables into an OMOP official release that is not yet completed:
https://github.com/OHDSI/OncologyWG/issues/118

[2019-12-05 15:51] patelm9 commented on #114
@vladrizescu might be able to help with this since he has been working on his ggplot2 skills!

[2019-12-05 18:13] mgurley commented on #215
@rtmill
This is already done See #213.   If you agree, can you close this issue?

[2019-12-05 18:16] rtmill commented on #215
Lots of BIGINT still in there. I just made a pull request for it though.

[2019-12-05 18:19] mgurley commented on #215
@rtmill
BIGINT is appropriate for clinical primary keys like person_id, visit_occurence_id, procedure_occurrence_id.   The issue was that BIGINTs were also applied to the '_concept_id' fields.  See the latest OMOP CDM SQL to see where BIGINT is used and where it is not nused

https://github.com/OHDSI/CommonDataModel/blob/master/PostgreSQL/OMOP%20CDM%20postgresql%20ddl.txt

[2019-12-05 18:21] rtmill commented on #215
Oh ok I see now. Will amend the pull request.

[2019-12-05 18:23] #215 closed

[2019-12-05 18:24] rtmill commented on #205
As discussed in vocabulary subgroup meeting, this is no longer needed. The ETL already incorporates schema-independent variables.

[2019-12-05 18:25] rtmill commented on #193
As discussed today on call, this is no longer needed.

[2019-12-05 18:25] #193 closed

[2019-12-05 18:30] rtmill commented on #73
Solution discussed on today's call: Let the domain of the value concept determine whether or not insert into measurement (meas val) or into observation (observation).

[2019-12-05 18:50] mgurley commented on #73
What date should be placed in observation_date/observation_datetime?

[2019-12-05 23:08] odikia commented on #171
1.	**Organization:** Emory University Winship Cancer Institute
2.	**Contact Info:**
a.	Daniel Smith: daniel.g.smith@emory.edu
b.	Renjian Jiang: renjian.jiang@emory.edu
3.	**Objectives:** To determine if a patient’s race and ethnicity influences the prescription of medications for the management of pain in the context of late stage cancer.
4.	**Study Design:** Observational study utilizing historic

[2019-12-06 02:24] sratwani opened #217 "Augment NAACCR vocabulary with relationships that are not formalized in NAACCR"
Per our discussion on 12/5, even though it was determined that relationship 'procedure end' is present for radiation and high-level treatment entities, we might discover others that are not present.

[2019-12-06 02:28] sratwani commented on #197
Besides Genomic we are interested in their choice of the vocabulary. We may plug into those vocabularies when we map NAACCR to the standard in our choice of the standard.

[2019-12-06 02:36] sratwani commented on #179
Andy from IMO is reviewing this for the breast cancer use case. Rimma to send Andy the data dictionary for breast cancer.

[2019-12-11 12:44] mgurley opened #220 "The collapsing of the NAACCR schemas needs to be validated."
While writing unit tests for the NAACCR ETL, one of the examples I chose to try to validate the insertion of diagnosis modifiers into the MEASUREMENT table revealed that the ICDO combination of '8070/2-C00.3' has been placed in the 'lip_upper' schema.  This makes it impossible to map NAACCR item number 772 'EOD Primary Tumor' because only the 'lip' schema has been pre-coordinated with NAACCR item

[2019-12-11 13:05] dimshitc commented on #220
@denyskaduk check whether is it fixed in stage environment?

[2019-12-12 02:16] sratwani opened #221 "Develop approach for mapping duplicate concepts"
1.1.1 	Identify types of duplicates:
      1.1.1.1	Exact, related, looking similar but not the same
      1.1.1.2	Across sites, within sites

[2019-12-12 02:18] sratwani opened #222 "Identify duplicates due to site-specific Values"
1.2.1	Perform automated de-duplication
1.2.2	Perform manual review and identify questionable cases
1.2.3	Resolve questionable cases with Oncology WG/IMO

[2019-12-12 02:19] sratwani opened #223 "Identify variables that may contain duplicate or similar responses review"
1.3.1	Start from the metastasis example
1.3.2	Cover all Breast cancer redundancies
1.3.3	Apply to the next cancer type in order of priority

[2019-12-12 02:21] sratwani opened #224 "Discuss, evaluate and implement approach for NAACCR hierarchies and new standard concepts vs existing"
Discuss proposal/approach to
(1) Create new standard concept vs choose one of the existing concepts

organ@4121@1 -Maps to -4121@1 (new concept)
organ@4121@1 -Is a -4121@1
organ1@4121@1 -Maps to -organ2@4121@1 (chose organ2-code as a standard one)

(2) Built hierarchies in NAACCR
If one answer is metastatic cancer and the other is metastases to the bone, link metastatic cancer -> metastases to the

[2019-12-12 02:46] sratwani commented on #217
Per high level project plan put together by Rimma for the Odysseus project, augmenting NAACCR vocabulary with relationships that are not formalized in NAACCR is done for now, but new relationships may be needed as we proceed with mappings/ETL.

[2019-12-12 19:38] sratwani commented on #209
The issue with the field type should be rectified on the R parser side, not the ETL. Varchar(max) translates to a TEXT field in postgres which causes large efficiency issues, so we need to use VARCHAR(255). Rather than reclassify all those fields to varchar(max), we need to have the data input of the naaccr_item_value not be over 255 chars. A quick fix would be to truncate that field, there is log

[2019-12-12 21:59] sratwani commented on #111
Per discussion on 12/11, This issue is related to the gap (person table and observation period) between what the ETL produces and what is needed to make the plots. There is a stand-alone script that handles the gaps, but each organization had their own script and we just need to standardize this. We could also incorporate the script in the ETL and set a flag for one-off solutions like Tufts where

[2019-12-12 22:01] sratwani commented on #111
Per discussion on 12/11, This issue is related to the gap (person table and observation period) between what the ETL produces and what is needed to make the plots. There is a stand-alone script that handles the gaps, but each organization had their own script and we just need to standardize this. We could also incorporate the script in the ETL and set a flag for one-off solutions like Tufts where

[2019-12-13 19:08] mgurley opened #225 "Schema-dependent NAACCR values are not getting mapped."

[2019-12-13 19:10] mgurley opened #226 "Date normalization logic is interfering with formatting fed to TO_DATE ON PostgreSQL."

[2019-12-16 17:42] mgurley opened #227 "Foreign key from episode_parent_id to episode_id on EPISODE is causing problems with the NAACCR ETL on PostgreSQL 10."
This kind of foreign key constraint does not seem to be satisfiable on PostgreSQL 10.  For the time being we will drop this constraint.

[2019-12-16 20:13] mgurley opened #228 "Fix mapping non-standard to standard NAACCR variables in revised NAACCR ETL."
The revised ETL rolled back support for mapping non-standard to standard NAAACR variables.  Currently, these are confined only to staging variables. The vocabulary support for these kinds of variables as implemented here:

https://github.com/OHDSI/OncologyWG/issues/51#issuecomment-536295736

[2019-12-17 20:17] sratwani commented on #159
Per Leadership discussion on 12/16, Andrew will send the list to Shilpa. This issue can be closed.

[2019-12-17 20:17] #159 closed

[2019-12-17 20:17] sratwani commented on #159
Closing per Christian's comment on 12/16 on not needing to solicit any more Use Cases.

[2019-12-17 20:21] sratwani commented on #158
Based on 12/16 Leadership meeting, the decision was made to remove this from the scope of the milestone and possibly create a different milestone at some point in the future. Moving it to backlog now.

[2019-12-17 20:25] sratwani commented on #121
Per Leadership call on 12/16, the group decided that this task is out of scope for the milestone 'Rerun symposium plots'. Moving it to the backlog for now.

[2019-12-17 21:14] sratwani commented on #40
Per Leadership discussion on 12/17, completing this task will make development and vocabulary tasks much simpler as not having Oncology with the CDM model requires additional code and queries that the larger CDM effort already has mechanism for.

[2019-12-17 21:15] sratwani commented on #118
Per Leadership discussion on 12/17, completing this task will make development and vocabulary tasks much simpler as not having Oncology with the CDM model requires additional code and queries that the larger CDM effort already has mechanism for.

[2019-12-17 21:21] sratwani commented on #49
Per Leadership call on 12/17, this task does not belong to any particular milestone and can be done at any point. Changing the milestone to 'creating standard vocabularies for diagnostic modifiers'

[2019-12-17 21:43] sratwani commented on #136
Per the Leadership call on 12/16, further discussion is needed on how we should organize a challenge as this is not something that can be easily achieved in a day. Andrew is going to provide some guidance on the same and possibly invite his contact to talk about how they setup challenges.

[2019-12-18 02:07] patelm9 commented on #114
@mgurley @chandryou @sratwani
I have not ever push a package as part of repo (only as a repo) so I pushed the newest iteration of the package that fully integrates the SQL queries written by @rimusia into the functions themselves. Inputs would simply be the connection details to the OMOP instance.

https://github.com/patelm9/oncoPlot/tree/master
to install: devtools::install_github("patelm9/oncoPl

[2019-12-18 09:27] mgurley opened #230 "Fix population of MEASUREMENT.value_as_number for Meas Value entries pulled from CONCEPT_NUMERIC."
The value_as_number is not getting populated for CONCEPT_NUMERIC values.

[2019-12-18 11:51] mgurley opened #231 "Fix population of Drug Treatment Episodes."
Drug treatment episodes are not being populated.

[2019-12-18 21:03] #225 closed

[2019-12-18 21:03] #227 closed

[2019-12-18 21:03] #228 closed

[2019-12-18 21:03] #230 closed

[2019-12-18 21:03] #231 closed

[2019-12-19 21:15] sratwani commented on #125
Closing. Several other tasks are created and assigned to the label 'De-duplicating NAACCR'

[2019-12-19 21:15] #125 closed

[2019-12-20 08:56] mgurley commented on #118
Clair pointed me to the following repository as the place for us to find the format of how we need to document the OMOP Oncology CDM extension structural changes:

[2019-12-20 12:46] #60 closed

[2019-12-20 13:10] mgurley opened #234 "Comprehensively fix missing leading zeros in the concept_codes for NAACCR values."
There is still a consistent problem of missing leading zeros in the concept_code column of NAACCR values:

For example, compare
http://datadictionary.naaccr.org/default.aspx?c=10#1504
https://api.seer.cancer.gov/rest/naaccr/latest/item/1504
http://athena.ohdsi.org/search-terms/terms/35918869

http://datadictionary.naaccr.org/default.aspx?c=10#1506
https://api.seer.cancer.gov/rest/naaccr/latest/ite

[2019-12-20 23:42] mgurley opened #235 "EPISODE.episode_parent_id is incorrectly getting set to EPISODE.concept_id for 'Treatment Regimen' episodes."

[2019-12-20 23:43] mgurley opened #236 "Treatment modifiers are Cartesian producting."

[2019-12-21 15:58] #235 closed

[2019-12-21 15:58] #236 closed

[2019-12-23 20:46] #198 closed

[2019-12-23 20:52] #226 closed

[2019-12-23 20:55] #199 closed

[2019-12-30 18:14] patelm9 opened #238 "WHO 2016 Neuro-oncology vocabularies"
Hi all,

It has come to my attention that pathologists (and perhaps neuro-oncologists) may be using the WHO 2016 neuro-onc vocabularies (([Reference paper](https://braintumor.org/wp-content/assets/WHO-Central-Nervous-System-Tumor-Classification.pdf)). I've already reached out to Dr. Louis, the first author of this paper to gain insight, but wanted to see if the OncologyWG has addressed this vocabu

[2019-12-30 20:55] mgurley commented on #238
We have issue #84 that covers ingesting ICDO 3.2 into the OMOP vocabulary.  @dimshitc has #84 been completed?  If so, we will need to validate that it covers WHO 2016 Neuro-oncology vocabularies mentioned by @patelm9

[2019-12-31 04:29] patelm9 commented on #238
@mgurley @dimshitc
I scraped the charts from the referenced paper and analyzed the mappings to ICDO3. It appears that the WHO classifications are more granular than the ICDO3. Here is the spreadsheet: https://docs.google.com/spreadsheets/d/1nSulM4eEuvH9M-aMUart2boXFOsh-2bz412ETf2Jpxw/edit?usp=sharing. The only values I didn't include were the lymphoma classifications.

[2019-12-31 20:29] sratwani commented on #220
@dimshitc Based on the Vocabulary call on 12/26, you are responsible for documenting the issue and also the approach you will be taking to resolve the issue.

[2019-12-31 21:55] sratwani commented on #176
Per Dima and discussion in the 12/26 vocabulary meeting. This issues is complete and can be closed.

[2019-12-31 21:55] #176 closed

[2020-01-02 01:16] mgurley commented on #238
@patelm9 @dimshitc

It looks like ICD-O-3.2 will cover WHO 2016 neuro-oncology vocabularies.  Take a look at the ICD-O-3.2 files downloadable from here:

http://www.iacr.com.fr/index.php?option=com_content&view=category&layout=blog&id=100&Itemid=577

There are 6 different "levels" or semantic types in the ICD-O-3.2 download: "Preferred", "Synonym",  "Related",  "1", "2" and "3".  It looks like we

[2020-01-02 01:35] mgurley commented on #84
This looks like it has been completed.  However, can we did not include all the semantic content possible from the ICD-O-3.2 downloadable file.  See comment laying out the issue:

https://github.com/OHDSI/OncologyWG/issues/238#issuecomment-570099519

There are 6 different "levels" or semantic types in the ICD-O-3.2 download: "Preferred", "Synonym",  "Related",  "1", "2" and "3".  It looks like we

[2020-01-02 12:13] ekorchmar commented on #238
Hello! I have worked on the most recent ICDO3 Vocabulary release.

We indeed have skipped "Related" terms altogether, because they are distinctly **not** equivalent to terms with the same codes in "Synonym" and "Preferred" level, and are rather subtypes of these ideas. For instance, there is a code 9971/1 with Preferred term "Post-transplant lymphoproliferative disorder, NOS" and Related term "Pol

[2020-01-02 12:17] ekorchmar commented on #84
Hello! I have worked on the most recent ICDO3 Vocabulary release.

We indeed have skipped "Related" terms altogether, because they are distinctly **not** equivalent to terms with the same codes in "Synonym" and "Preferred" level, and are rather subtypes of these ideas. For instance, there is a code 9971/1 with Preferred term "Post-transplant lymphoproliferative disorder, NOS" and Related term "Pol

[2020-01-02 14:06] #217 closed

[2020-01-02 14:44] dimshitc commented on #49
This looks like a big change of vocabulary and needs to be discussed in a broader community.
Any ETL will be affected.

[2020-01-02 22:01] sratwani commented on #217
Per the 1/2/2020 call -> We might discover more of such relationships that are not formalized in NAACCR and plan to record issues as we find them.

[2020-01-02 23:51] sratwani commented on #40
@rimusia @cgreich With this issue, the plan is to add the discussion to support numeric vocabulary concepts to the CDM/Vocabulary Development WG. Do either of you have any further questions with this proposal before it is presented to the CDM/Vocabulary Development WG? We want to make sure if there is any discussion to be had we do it before we show up to the WG meeting with the proposal.

[2020-01-03 00:44] sratwani commented on #11
@dimshitc @cgreich I checked out the forum discussion https://forums.ohdsi.org/t/type-concepts-consolidation/8025/7 and seems like folks and Christian are in agreement with the overall proposal of consolidating the type concepts. With that in mind is there anything else we need from the forum discussion before we can proceed with adding 'Registry' type concept to all domains? Seems like from @mgur

[2020-01-03 14:21] cgreich commented on #238
@mgurley:

Hm. I feel like we are going to choke. We haven't fully digested the existing content. Should we first do that? Do we have data with those ICD-O-3.2?

[2020-01-03 19:01] meerawhy commented on #238
Thank you Eduard! I'll look into this further!

On Thu, Jan 2, 2020 at 7:13 AM Eduard Korchmar <notifications@github.com>
wrote:

--
Meera Y. Patel, MD

[2020-01-04 13:20] ekorchmar commented on #200
I have updated OHDSI wiki entry for the structure of the vocabulary itself.

https://www.ohdsi.org/web/wiki/doku.php?id=documentation:vocabulary:icdo3&s[]=icdo3

At this moment link to github from the article will send you to 404. That's because code is resided in a branch and had not been yet merged to master.

Actual code can be found here:

https://github.com/OHDSI/Vocabulary-v5.0/tree/icdo3/IC

[2020-01-04 15:17] mgurley commented on #84
@ekorchmar

Yes, this is a conundrum.  The fact that ICDO3.2 reuses codes across preferred and related terms is **bad**.  Pathologists will declare and consider them as distinct diagnoses.  So I guess having them only as entries in CONCEPT_SYNONYM is inappropriate.  So creating them as full-fledged entries in Observation seems to be the right approach.  But I know creating duplicate concept_code e

[2020-01-04 15:45] mgurley commented on #238
@cgreich

Yes, we have ICDO 3.2 data that cover the 4th series of WHO Classification of Tumours (Blue Books).  Which is what ICDO 3.2 tracks.  Which for Brain tumors dates back to 2016.  Any institution using the 4th series as guidance will have 3.2 data.  See my comment here for a possible solution:
https://github.com/OHDSI/OncologyWG/issues/84#issuecomment-570793475

We have already ingested ICD

[2020-01-05 12:35] mgurley opened #239 "Support the creation of entries in the person table from NAACCR data."
A couple of options:
- We could conditionally check if the person_id column is populated in the naaccr_data_points input table.   If no person_id, create entries in PERSON table from NAACCR data.
- Commented out code within the NAACCR ETL.  Implementers that need it could uncomment it out.
- Create a separate script that can be optionally run before the main NAACCR ETL.
- Convert the NAACCR ETL to

[2020-01-05 13:25] mgurley commented on #200
@ekorchmar @dimshitc
Closing #139 based on this comment.

[2020-01-05 13:25] #139 closed

[2020-01-06 05:49] meerawhy commented on #238
Just heard back from the 1st author of the paper and he told me that the
2016 WHO is pretty much gold standard for neurosurgeons, neuroncologists,
and pathologists at most institutions. He also mentioned that an update is
coming up this year to the 2016 edition.

On Sat, Jan 4, 2020 at 10:45 AM Michael Gurley <notifications@github.com>
wrote:

--
Meera Y. Patel, MD

[2020-01-06 13:59] mgurley commented on #239
Per Ray Chen's feedback (from Columbia), we will go with the following option: "Create a separate script that can be optionally run before the main NAACCR ETL."

[2020-01-06 15:40] dimshitc commented on #84
If we want hierarchy, we need to make these concepts standard, to make them standard, we need to investigate whether they don't have equivalence in existing standard terminology (SNOMED). This is time consuming.
So, if @mgurley 's team needs sets of related descriptions, they can use concept_relationship, something like
ICDO code - 'Has related term' - that term (concept_code is generated, somethi

[2020-01-06 18:31] cgreich commented on #84
Which is why I am cautious to add in all those vocabs right away. One thing at a time.

[2020-01-07 06:05] cgreich commented on #40
I think right now we put that on ice. No time.

[2020-01-07 11:18] mgurley commented on #40
@cgreich
We would like to reduce the manual setup for a groups using the NAACCR ETL. Right now we have to manually distribute the CONCEPT_NUMERIC DDL and vocabulary files to populate it.  The development subgroup has put in the effort to create unit tests covering the usage of this table/vocabulary.  I would like to get a determination on CONCEPT_NUMERIC.   Is it in or our?

[2020-01-07 11:57] cgreich commented on #40
I understand that. But right now folks are reorging the V6. That's unfortunately slow. So, right now out, in the near future in of course.

[2020-01-07 15:08] chandryou commented on #135
We will investigate the information loss if we adopt [dbSNP](https://www.ncbi.nlm.nih.gov/snp/) (which has rsID), and [ClinVar](https://www.ncbi.nlm.nih.gov/clinvar/). You can read the articles about dbSNP [here](https://ncbiinsights.ncbi.nlm.nih.gov/2018/07/02/dbsnp-database-doubles-size-twice-13-months/).
There is the tool, [Mutalyzer](https://mutalyzer.nl/) converting dbSNP or rsID to HGVS nota

[2020-01-07 22:16] sratwani opened #240 "ICD-O vocabulary issues"
Issue #1 - Topography   w/o any conditions linked
Issue #2 - ICDO Topogrpahy linked via 'Has Histology   ICDO' to another Topography
Issue #3 - ICDO   Topography not mapped to SNOMED (89 out of 400)
Issue #4 - Topography   concepts without parent concept (315 out of 400)
Queries are in the below spreadsheet.
[ICD-O Issues 2019-12-22.xlsx](https://github.com/OHDSI/OncologyWG/files/4032713/ICD-O.Iss

[2020-01-07 22:28] sratwani commented on #240
@ekorchmar has completed the documentation for mapping of ICDO to SNOMED for @cgreich and @rimusia review.

[2020-01-07 23:44] sratwani commented on #40
@cgreich @mgurley Can the support of the numeric vocabulary concepts go in with V6?

[2020-01-07 23:49] sratwani commented on #118
@dimshitc Based on @mgurley comments above, can this be resourced and assigned to someone from your side to work on.

[2020-01-08 00:06] sratwani commented on #118
@cgreich @rimusia  We were hoping you both could help bring this up with the bigger OMOP modeling group. The recommendation here is to make change to the ‘Drug’ domain definition. The idea behind this is that broad categories like chemotherapy, immunotherapy their concepts should have domain ‘Drug’. We need approval from broader community that the ‘Drug’ domain should have categories as such and n

[2020-01-08 05:15] cgreich commented on #40
Totally, it's just we are under water right this moment.

[2020-01-08 05:18] cgreich commented on #118
Here is the deal with this: The V6 is under stress. We are cleaning it up. Rapid changes are difficult at this point. The idea is that if changes are backwards compatible we would add them, and if they are not (changing something) than not. The Oncology Extension is of the former type (just adding tables and fields). Let me talk to Clair.

[2020-01-08 15:02] mgurley opened #241 "Add tracking of row-level provenance to support data quality checks."
We are currently shoving the NAACCR 'record_id' in the CONDITION_OCCURRENCE.stop_reason and EPISODE.episode_number, which was a temporary hack.

[2020-01-08 15:24] ekorchmar commented on #84
I don't think Related concepts would ever need to be standard, since they would only exist as effective synonyms to point researchers to "real" concepts. However, I still can't imagine what is the actual use-case for such concepts in applied use of OMOP CDM. They have to be supported from release to release: changelogs of ICD-O-3 sources are full of precedents when Related terms become Synonyms (i

[2020-01-08 15:36] cgreich commented on #84
I agree with Edik. This is typical stuff for navigation screens. You got a assign a patient it will suggest things which are slightly right and left of what you are looking at. We don't need those relationships. We do need the concepts, though. And we have them, right, Edik?

[2020-01-08 15:50] ekorchmar commented on #84
Related concepts? Currently they are not implemented at all. We could have them as stub concepts.

[2020-01-08 16:02] mgurley commented on #84
@ekorchmar @cgreich

@ekorchmar said:

"We indeed have skipped "Related" terms altogether, because they are distinctly not equivalent to terms with the same codes in "Synonym" and "Preferred" level, and are rather subtypes of these ideas. "
So the "Related" are not the same as the "Preferred".  So, what if I want to study the subtypes?
If they are present in my data, but I have no place to map the

[2020-01-08 16:40] ekorchmar commented on #84
The problem is that ICDO3 model does not allow to store exact Related subtypes in data. It does not matter if they are or are not in OMOP. From example above (https://github.com/OHDSI/OncologyWG/issues/84#issuecomment-570191908): if source data contains entry '9971/1', it can originally mean simply "PTLD" , or it could mean "Polymorphic PTLD", a subtype of "PTLD". But nothing tells if it is a subt

[2020-01-08 18:30] mgurley commented on #84
@ekorchmar
ICDO3 is not only useful for ingesting cancer diagnoses from tumor registries.  ICD03 tracks the new morphology codes and terms from the 4th series of WHO Classification of Tumours (Blue Books).   See here:

http://www.iacr.com.fr/index.php?option=com_content&view=article&id=149:icd-o-3-2&catid=80&Itemid=545

So ICDO3 is the only machine-readable vocabulary tracking the latest practice

[2020-01-08 18:48] sratwani commented on #240
@ekorchmar Is it okay to mark this as closed?

[2020-01-08 19:00] ekorchmar commented on #240
We had a short call with @cgreich today and discussed all remaining issues. Yes, it should be closed.

[2020-01-08 19:06] sratwani commented on #240
@ekorchmar so the changes are released?

[2020-01-08 19:19] sratwani commented on #49
@cgreich @rimusia With this issue, the recommendation is to make change in ‘Drug’ domain definition. The idea behind this is that broad categories like chemotherapy, immunotherapy their concepts should have domain ‘drug’. We need approval from broader community that the ‘drug’ domain should have categories and not just purely drug information. Reaching out to you both to see if this is something y

[2020-01-08 19:20] sratwani commented on #49
Copying @cgreich response. Here is the deal with this: The V6 is under stress. We are cleaning it up. Rapid changes are difficult at this point. The idea is that if changes are backwards compatible we would add them, and if they are not (changing something) than not. The Oncology Extension is of the former type (just adding tables and fields). Let me talk to Clair.

[2020-01-08 23:47] sratwani commented on #114
@patelm9 @mgurley @chandryou what are the next steps here? Do we want to test out the polished analytical package before closing this issue?

[2020-01-09 06:45] cgreich commented on #84
I think we have a similar situation with MedDRA. The LLT are sometimes synonymes of the PT, and sometimes descendants. Which is why we essentially ignore them (map the PT).

Unless there are really really important I would put that on ice for the moment. Create an issue and downprioritize them.

[2020-01-09 11:36] ekorchmar commented on #84
Here is example from current ICDO3 release.

code | Level | Term
-- | -- | --
9945/3 | Preferred | Chronic myelomonocytic leukemia, NOS
9945/3 | Related | Chronic myelomonocytic leukemia, type I
9945/3 | Related | Chronic myelomonocytic leukemia, type II

Type I and Type II are clinically distinct and even may have different treatments (chapter [Types of CMML](https://www.leukaemia.org.au/disease-

[2020-01-09 13:43] cgreich commented on #84
Michael:

In principle, you are right. But:

1. These variants are different, as Edik explained, but they have the same ICD-O-3 code. So, if your data only contains codes you wouldn't know the difference. If it contains the lexical variant we could distinguish. What does it have?
2. If the latter, I would still suggest we don't do that in V1. Put it in the backlog. Emphasis on "back".

[2020-01-10 00:02] cgreich commented on #238
We continued this in #84 .

[2020-01-10 00:02] #238 closed

[2020-01-10 00:39] cgreich commented on #49
So, here is the situation:
1. Currently, a drug is anything with a specified Ingredient, or more detail. Everything that puts Ingredients in a bucket is a Drug Class, which cannot be used in the data.
2. This is arbitrary. We could extend the Drug Domain up.
3. If we do that, we need to pick a vocabulary that is now a classification system and will become a Standard. ATC is the only contender, bec

[2020-01-13 02:51] jeremywarner commented on #49
Just a remark about using HemOnc, as you say it is maturing and it is only cancer. Also important to note that the “high-level” classes (chemotherapy, immunotherapy, etc), which we actually capture separately as modalities, are anchored to the regimen not to the drug. This is because some drugs have different actions in different contexts. For example:

Prednisone the drug is a steroid is a drug

[2020-01-13 08:11] cgreich commented on #49
Exactly. ATC does that too, btw. In fact, ATC has it as an antiinflammatory ([A07EA03](https://www.whocc.no/atc_ddd_index/?code=A07EA03)) and an endocrine ([H02AB07](https://www.whocc.no/atc_ddd_index/?code=H02AB07)) drug. It doesn't have it as an antineoplastic, though. That's the crux. These classes are not precise and commonly agreed upon, which is why I have resisted for all that time to inclu

[2020-01-14 09:25] lucid0921 opened #244 "Sharing ETL Code of Genomic-CDM"
I'm sharing the ETL code that converting a public TCGA-LUAD NGS data into the Genomic-CDM.
In the repository, there are variations and clinical files so that you can actually run.

https://github.com/ABMI/GCDM_ETL

![image](https://user-images.githubusercontent.com/34934336/72331253-37dad180-36fb-11ea-9fd7-0e56dd47279d.png)

[2020-01-15 16:08] mgurley opened #245 "Add support for CDM 6.0 to the NAACCR ETL."

[2020-01-16 00:06] sratwani commented on #240
Documentation is complete. Changes to vocabulary are still pending.

[2020-01-22 14:34] sratwani commented on #167
Per 1/15 Development call -> This task has been completed.

[2020-01-22 14:34] #167 closed

[2020-01-22 15:52] patelm9 commented on #114
@mgurley @rtmill @ansi90
Pushed the oncoPlot discussed in today's meeting to master.

[2020-01-28 00:22] sratwani commented on #103
@dimshitc looks like we discussed this today and Rimma recommended that we **should not** treat pathological and clinical stage values as the same concept and should not collapse them. Can this issue be closed?

[2020-01-28 00:25] sratwani commented on #130
Moving to backlog based on discussion with Jeremy on 12/13.

[2020-01-28 00:29] sratwani commented on #240
Per call on 1/6/2020, ICDO vocabulary issues have been documented. We standardize ICDO to SNOMED. Overall quality will be much better after SNOMED 3.2 release which is scheduled for April after which the plan is to release the fixes to the ICDO vocabulary issues.

[2020-01-29 09:32] #111 closed

[2020-01-29 09:32] #239 closed

[2020-01-29 09:32] #73 closed

[2020-02-04 12:05] mgurley opened #249 "Set observation_period.observation_period_end_date for the case when NAACCR Item 1750 DATE OF LAST CONTACT is not present or NULL for a person."

[2020-02-05 19:26] #241 closed

[2020-02-07 15:11] patelm9 commented on #7
@mgurley @dimshitc I think Nebraska is key from some of our pathology mappings. What is the status of this effort? I downloaded the Nebraska files, but they weren't as intuitive as I was expecting.

[2020-02-12 22:26] sratwani commented on #220
Per discussion on 12/26 > Need technical documentation on the issue and approach to resolve the issue. **Direction 1** - Christian’s suggestion - Create every ICO combination and pre-coordinate with viable values. **Direction 2** - Instead of #1 do what was done in the previous version where combination was related to both schemas then it should end up with same variable. Dima to try out both the

[2020-02-13 20:38] patelm9 commented on #114
@mgurley @rtmill @sratwani Work has kept me away the last few weeks, but I am happy to report that our OMOP instance will be ready around the end of this month so I would be able to run the OncoPlot package to troubleshoot. Are there any updates in regards to the plot output from anyone else? @ansi90 I am also looping you in because of the schema argument that was required since not all tables wil

[2020-02-14 13:53] ekorchmar commented on #240
In our recent correspondence with SNOMED team it was confirmed that ICDO3.2 is expected to be a part of July 2020 release, which unfortunately means that it will be ready for inclusion in OMOP CDM only around October.

[2020-02-17 13:46] ekorchmar commented on #7
Currently the SNOMED version of Nebraska Lexicon is being under assessment for inclusion in OMOP CDM Vocabularies. It does not seem to include any crosswalks to PDF protocols.

[2020-02-17 18:57] rimusia commented on #240
Issues ##1, 2, and 4 are not related to SNOMED mappings and need to be fixed now. Please let the team know when to expect these fixes.

We detected one more issue #5 that looks quite serious: duplicate concepts, one of each should be deprecated. There are 495 such duplicates:
select count(*) from
(
select count(*) as total
from concept
where vocabulary_id = 'ICDO3'
group by concept_name
having cou

[2020-02-19 00:54] sratwani opened #252 "SNOMED - OHDSI Vocabulary Workshop"
From Monica Harry <mha@snomed.org>

Thank you for putting this list together, all very relevant to our cause. I will discuss with Jim to see if there is anything we want to add. As a starter, this will certainly give us as you say, plenty to discuss.

With regard to the points below from your list, we are actively working on these at the moment so will be able to provide updates:

-       Building

[2020-02-19 16:51] #249 closed

[2020-02-19 23:53] sratwani commented on #40
Moving this to backlog as the work to support numeric vocabulary concepts is incorporated in the Oncology Extension.

[2020-02-23 15:19] sratwani commented on #67
@dimshitc @mgurley  -> Guys, does this also cover the unknown morphology? Peter brought up that in IKNL, they have unknown morphology and Dima mentioned that he has created all possible combinations of anatomic site and unknown.

[2020-02-24 09:57] mgurley commented on #205
We need to add a unit test to make sure this is covered.

[2020-02-25 16:03] patelm9 commented on #114
@sratwani added the README. Also after installing package, running `?oncoPlot` in R would also pull up additional documentation on the packages. I want to stop here with the README and make appropriate changes in time for the deadline.

[2020-02-26 02:00] sratwani commented on #220
Per discussion on 1/2 -> Further assessment of this issue at NU and Tufts reveled minimal impacts. The plan is for MSK to run the query against their OMOP data to further assess the impact. If the impact remains low then any modeling changes can be delayed for a while.

[2020-02-26 02:09] sratwani opened #254 "CAP mapping for carcinoma of the breast"
Per Odysseus project schedule -> NAACCR-CAP-Mapping

Mapping of all CAP attributes for breast cancer
CAP provides 5 different protocols for Carcinoma of the Breast:
 Ductal Carcinoma In Situ (DCIS)
-	Biopsy
-	Resection
Invasive Carcinoma
-	Biopsy
-	Resection
Results of Biomarker Testing
These also reflect the deliverables for this sub-project.

[2020-02-28 02:31] patelm9 commented on #114
@ansi90 would you be able to help finetune one of the plotting functions? I saw the beautiful plots that come out of OncoRegimenFinderV3 and we can really use your knowledge of ggplot to help with the histogram piece of the package.

[2020-02-28 17:30] rtmill opened #255 "NAACCR ETL - bug in death portion"
The ETL is missing a join condition in the death portion

[2020-02-28 18:45] #255 closed

[2020-03-01 20:56] #205 closed

[2020-03-05 02:35] sratwani opened #263 "Vocabulary data quality checks"
Create a Data Quality framework to identify vocabulary related issues proactively to ensure quality control. Per the 2/27/2020 call, this was a concern raised by Rimma.

[2020-03-05 21:16] #103 closed

[2020-03-07 11:17] ekorchmar commented on #240
I described the ongoning process of ICDO3 fixes on the [wiki article](https://github.com/OHDSI/OncologyWG/wiki/ICD-O#problems-of-current-icd-o-vocabulary-implementation-in-omop-cdm):

Reported issues are caused by problems described in the article.
1. Is actually related to classification level of topography that is never encountered in user data. It's problem number 4 in Wiki article.
2. These re

[2020-03-11 11:57] mgurley opened #265 "Do not try to insert entries into the PERSON, DEATH and OBSERVATION_PERIOD table in NAACCR_DATA_POINTS with person_id=NULL."

[2020-03-11 13:40] #265 closed

[2020-03-12 13:07] sratwani opened #267 "Ingest AJCC into the vocabulary tables"

[2020-03-12 13:08] sratwani opened #268 "Ingest CAP into the vocabulary tables"

[2020-03-13 15:24] ekorchmar commented on #179
After the most recent review, it looks like Nebraska Lexicon is (at least nominally) concordant with SNOMED international release. It works in the same way as all SNOMED editions do.

However, we found several issues inside of current release version that suggest that release files were not validated.

1. Some Condition concepts are made descendants of Navigational Concepts. [Navigational concepts

[2020-03-16 01:24] sratwani commented on #224
@dimshitc -> This is the discussion that Rimma was referring to for the CAP solution as well.

(1) For duplicate entries between diff schemas when they mean the same (same semantic concept) but repeat for each diagnostic schema, the question is, should we pick and choose 1 and map all others to this one and make it non standards OR create a new concept make it standard and add all the existing con

[2020-03-16 20:20] mgurley commented on #129
Duplicates #179, #7

[2020-03-16 20:20] #129 closed

[2020-03-18 14:29] sratwani opened #269 "Ingest Radiation Therapy and Surgery data from EHR/Claims and assign them to Episodes"

[2020-03-18 14:36] sratwani opened #270 "Create disease recurrence episode and link it to first episode from Tumor Registry"

[2020-03-18 14:47] sratwani opened #271 "Derive Radiotherapy episodes from EHR"

[2020-03-18 14:50] sratwani opened #272 "Derive surgery episodes from EHR"

[2020-03-20 10:26] mgurley opened #273 "Fix SQL translation problem in OncoPlot for PostgreSQL."
SQL Render is causing an issue with quoted numbers.  Create workaround using 'IN' operator over '=' operator.

[2020-03-20 10:28] #273 closed

[2020-03-20 10:29] mgurley opened #274 "Improve y-axis scaling on the 'plot_time_to_rx_hist' historgram plot."

[2020-03-23 22:54] #114 closed

[2020-03-23 22:54] #152 closed

[2020-03-23 22:58] sratwani opened #275 "Incorporate ETL enhancements from Odysseus"
The code from Odysseus is in Postgres. Need to convert this to SQLServer and let the SQLRender translate it.

[2020-03-24 11:18] #275 closed

[2020-04-04 11:07] mgurley opened #277 "Translate the vocaublary patch file to other SQL dialects."

[2020-04-08 13:15] sratwani commented on #115
Drug Regimen Algorithm has been executed on Northwestern, Tufts and Columbia.

[2020-04-08 13:15] #115 closed

[2020-04-08 13:21] sratwani opened #279 "Finalize Bladder Cancer Study"

[2020-04-08 13:29] sratwani opened #280 "Study development process and framework"

[2020-04-09 13:25] sratwani commented on #179
Per comments above, this issue can be closed.

[2020-04-09 13:25] #179 closed

[2020-04-09 13:25] sratwani commented on #179
Per comments above, this issue can be closed.

[2020-04-14 19:43] sratwani commented on #244
@lucid0921 Is this ETL code updated for the latest version of the G-CDM that we landed on? Essentially, using the Measurement table?

[2020-04-15 01:34] sratwani opened #281 "Phenotype definition for each organ"
To manage the issues with the SNOMED ICDO hierarchy, it was decided that in the short term, we will let them live in parallel and use the OR clause in Cohort Definitions to include all relevant codes until it's either fixed by SNOMED or addressed by the OHDSI community. It was also decided to document these recommendations for each Organ so anyone creating Cohort Definitions could use this as a gu